// stylelint-disable selector-no-qualifying-type

//
// Add custom styles
//

// Contact page Google Maps

figure.map-wrapper {
  margin-top: 60px;

  @media (min-width: 576px) {
    margin-top: 85px; // 60px
    margin-bottom: 25px;
  }
}

// Set a size for our map container, the Google Map will take up 100% of this container
// stylelint-disable selector-max-id
#map-canvas {
  width: 100%;
  min-width: 575px;
  height: 350px;

  @media (prefers-color-scheme: dark) {
    opacity: 0.75;
  }
}
// stylelint-enable selector-max-id

// About and contact page social links

ul.social-links {
  // stylelint-disable-next-line declaration-no-important
  margin: 2.75em 0 3.75em !important;
  font-family: var(--font-sans-serif);
  font-size: 66%;
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
  }

  a {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.7);
    }

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .icon {
      font-size: 3.33em;
    }
  }
}

ul.social-links--contact {
  @media (min-width: 768px) {
    li {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  a {
    &:hover .icon-telegram {
      padding: 0.25rem;
      color: #fff;
      background: $telegram-color;
      border-radius: 0.25rem;
    }
    &:hover .icon-twitter {
      padding: 0.25rem;
      color: #fff;
      background: $telegram-color;
      border-radius: 0.25rem;
    }
    &:hover .icon-facebook-messenger {
      padding: 0.25rem;
      color: #fff;
      background: $facebook-messenger-color;
      border-radius: 0.25rem;
    }
  }
}

ul.social-links--contact li.social-links--contact-lead {
  display: block;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  font-size: 1.333rem;
  font-weight: 300;
}

p.pgp-key {
  margin: 2.75rem 0;
  font-family: var(--font-family-sans-serif);
  font-size: 84%;
  text-align: center;

  a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.7);
    }

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

// stylelint-enable selector-no-qualifying-type
