//
// Header anchor link placement and hover behavior
//

.anchor {
  position: absolute;
  padding-right: 0.575em; // margin-left value divide by 2
  margin-left: -1.15em;

  @media (max-width: 575.98px) {
    display: none;
  }

  .icon-link {
    font-size: 66%;
    color: inherit;
    vertical-align: 0.125em;
    visibility: hidden;
    opacity: 0;
  }
}

// stylelint-disable selector-no-qualifying-type
.markdown-body,
.archive-content {
  *:hover > .anchor {
    .icon-link {
      visibility: visible;
      opacity: 0.75;
      transition: all 0.16s linear;
    }

    &:hover .icon-link,
    &:focus .icon-link {
      opacity: 1;
    }
  }

  h2:target,
  h3:target,
  h4:target {
    // Offsetting an html anchor to adjust for fixed header
    scroll-margin-top: 2.75em;
  }
}
// stylelint-enable selector-no-qualifying-type
