//
// Archive page
//

.archive-content {
  margin-bottom: 60px;
  font-size: 16px;
  // color: rgba(0, 0, 0, .8);

  @media (min-width: 768px) {
    font-size: 18px;
  }

  // stylelint-disable declaration-no-important
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
  // stylelint-enable declaration-no-important
}

// stylelint-disable selector-no-qualifying-type
h3.archive-year {
  margin-top: 39px;
  margin-left: -1.75px;
  font-family: var(--font-family-serif-display);
  font-size: 26px;
  // font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  color: var(--heading-color);
  letter-spacing: -0.044em;

  @media (min-width: 768px) {
    margin-top: 47px;
    margin-left: -2.25px;
    font-size: 34px; // 30px
    line-height: 1.2;
    letter-spacing: -0.04em;
  }
}

.archive-item {
  margin-top: 13px;

  @media (min-width: 768px) {
    margin-top: 15px;
  }
}

h3.archive-year + .archive-item {
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 17px;
  }
}

// stylelint-enable selector-no-qualifying-type

.archive-title {
  a {
    padding-bottom: 0.05em;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus {
      padding-bottom: 0.05em;
      color: rgba(0, 0, 0, 0.9);
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
}

.archive-date {
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 0.875em;
  color: var(--text-muted);
  text-align: left;
  cursor: default;

  > time {
    vertical-align: middle;
  }

  @media (min-width: 576px) {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
  }
}
