// Disqus commenting system

.comments {
  padding-top: 30px;
  // padding-bottom: 0.25rem;
  // margin-bottom: 80px;
  overflow-x: hidden;
  color: var(--body-color);
  border-top: 1px solid var(--section-divider); // rgba(0, 0, 0, .1);

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }

  a {
    color: var(--link-color);

    &:hover,
    &:focus {
      color: var(--link-hover-color);
    }
  }
}

.btn--disqus {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  font-size: 16px;
  // stylelint-disable-next-line declaration-no-important
  border-radius: 0.25rem !important; // 4px

  @media (max-width: 767px) {
    font-size: 15px;
  }

  .icon {
    margin-right: 5px; // 0.6em
  }
}
