//
// 404 error page layout
//

.error-page {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}

.error-page-content {
  padding: 2em;
  transform: translateZ(0);
  animation: fade-in 2s;
}

.error-page-message {
  padding-bottom: 3px;
  font-family: var(--font-sans-serif);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -0.044em;

  @media (min-width: 768px) {
    font-size: 32px;
    letter-spacing: -0.04em;
  }
}

.error-page-message--lead {
  margin-bottom: 20px; // 10px
  font-size: 32px;
  font-weight: 800;
  color: #fafafa;
  text-align: center;
  background-color: #222;
  border-radius: 0.25rem;
  transform: rotate(-1deg);
  // ** Font feature settings ** //
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern" on, "liga" on, "clig" on, "calt" on;
  // ** Mask image with a URL **//
  @include theme-mask-image();

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.error-page-message--small {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.44);
  letter-spacing: -0.022em;

  @media (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.02em;
  }

  a {
    color: rgba(0, 0, 0, 0.44);
    text-decoration: underline;

    &:hover,
    &:active {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: underline;
    }
  }
}
