//
// Hero page layout
//

.hero-container {
  position: relative;
  width: 100%;
  // ** if you have a 70px navbar => height: calc(100vh - 70px); ** //
  // min-height: 100vh;
  min-height: calc(100vh - 54px); // navbar height 54px
  @media (min-width: 768px) {
    min-height: calc(100vh - 64px); // navbar height 64px
  }
  padding: $bs--gutter-x; // 0.75rem; // 15px; // 1.25em ~20px
  background-color: #fafafa;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.001),
      rgba(0, 0, 0, 0.001)
    ),
    url("/assets/img/hero-20200605.jpg");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center, center;
  background-size: cover, cover;

  img {
    width: 7rem;
    height: 7rem;
    background: #eee;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);

    @media (min-width: 576px) {
      width: 9rem;
      height: 9rem;
    }
  }

  .card {
    width: 100%;
    max-width: 38rem;
    padding: 2.5rem 2rem;
    background-color: rgba(#fafafa, 0.828);
    border-color: #fafafa;

    @media (min-width: 768px) {
      padding: 3rem 2rem;
    }
  }

  .card-title {
    @include font-size(2.236rem);
    font-weight: 400;
    line-height: 1.2;
    color: #111;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2); // dark => text-shadow: 0 1px rgba(0, 0, 0, .2);
  }

  .card-text {
    @include font-size(1.125rem);
    font-weight: 400;
    line-height: 1.4;
    color: #6c757d;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4); // dark => text-shadow: 0 1px rgba(0, 0, 0, .4);
  }
} // .hero-container { ... }

// Hero page icons

// stylelint-disable selector-no-qualifying-type
ul.hero-social {
  padding-left: 0;
  margin: 0;
  letter-spacing: 0;
  list-style: none;
  cursor: default;

  > li {
    display: inline-block;
    padding-right: 0.7rem; // padding: 0.5rem;
    vertical-align: middle;
  }

  a {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 3em; // 3.4em
    height: 3em; // 3.4em
    @include font-size(0.875rem);
    color: #222;
    border: solid 1px transparent; // border: solid 1px #222;
    border-radius: 100%;

    @media (min-width: 576px) {
      @include font-size(1rem);
    }

    &:hover {
      border-color: #fafafa;
      background-color: #000;

      // stylelint-disable selector-max-type
      svg {
        fill: #fafafa;
      }
      // stylelint-enable selector-max-type
    }

    // &.icon-x:hover {
      // color: $x-color;
      // background-color: $x-color;
      // border: solid 1px $x-color;

      // svg {
      // fill: #fff;
      // }
    // }

    // &.icon-instagram:hover {
      // background-color: $instagram-color;
    // }

    // &.icon-github:hover {
      // background-color: $github-color;
    // }

    // stylelint-disable selector-max-type
    svg {
      display: block;
      width: 60%;
      height: 60%;
      fill: currentcolor;
      transition: fill 0.25s ease;
    }
    // stylelint-enable selector-max-type

    .label {
      display: none;
    }
  }
}
// stylelint-enable selector-no-qualifying-type
