// This is styling for generic markdownized text. Anything you put in a
// container with .markdown-body on it should render generally well.

.markdown-body {
  font-family: var(--font-family-serif);
  font-size: 19px;
  // font-style: normal;
  // font-weight: 400;
  line-height: 1.55; // 32px; 1.65; 1.58
  // color: rgba(0, 0, 0, .8);
  letter-spacing: -0.002em; // -.004em
  word-wrap: break-word;

  text-rendering: optimizeLegibility; // enable common ligatures and kerning

  @media (max-width: 767px) {
    font-size: 17px;
  }

  // stylelint-disable declaration-no-important
  &.page-content {
    margin-bottom: 60px;

    > *:first-child {
      margin-top: 0 !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &.post-content {
    margin-bottom: 5px;

    > *:first-child {
      margin-top: 1.05em !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
  // stylelint-enable declaration-no-important

  img {
    border-radius: 0.25rem;
  }

  @media (min-width: 480px) {
    pre,
    blockquote {
      border-radius: 0.25rem;
    }
  }

  a {
    color: var(--link-color);
    text-decoration: underline var(--link-underline-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus {
      color: var(--link-hover-color);
      text-decoration: underline var(--link-hover-color);
    }

    // stylelint-disable selector-no-qualifying-type
    &.anchor,
    &.footnote,
    &.reversefootnote {
      color: var(--anchor-color);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--anchor-hover-color);
      }
    }
    // stylelint-enable selector-no-qualifying-type
  }

  figcaption {
    a {
      color: inherit;
      text-decoration: underline var(--text-muted);

      &:hover,
      &:focus {
        color: var(--link-hover-color);
        text-decoration: underline var(--link-hover-color);
      }
    }
  }

  // stylelint-disable selector-no-qualifying-type
  a[role="button"] {
    margin: 3px;
    text-decoration: none;
  }
  // stylelint-enable selector-no-qualifying-type

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  h3 {
    margin-top: 2.75em;
    margin-left: -2.25px;
    // font-family: var(--font-family-sans-serif);
    // font-size: 1.444em; // 1.563em
    @include font-size(1.777rem);
    // font-style: normal;
    // font-weight: 700;
    line-height: 1.12; // 1.2; 1.15
    // color: rgba(0, 0, 0, .8);
    letter-spacing: -0.02em;

    @media (max-width: 767px) {
      margin-left: -1.75px;
      letter-spacing: -0.022em;
    }
  }

  h4 {
    margin-top: 2.75rem;
    margin-left: -1.75px;
    // font-family: var(--font-family-sans-serif);
    // font-size: 1.333em;
    @include font-size(1.555rem);
    // font-style: normal;
    // font-weight: 700;
    line-height: 1.18; // 1.2, 1.22
    // color: rgba(0, 0, 0, .8);
    letter-spacing: -0.02em; // -.044em,

    @media (max-width: 767px) {
      margin-left: -1.5px;
      letter-spacing: -0.022em;
    }
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  figure {
    margin-top: 2em;
  }

  h3 + h4,
  h4 + h3 {
    margin-top: 2.75rem;
  }

  p + p {
    margin-top: 1.75em;
  }

  h3 + p,
  h4 + p,
  h3 + ul,
  h3 + ol,
  h4 + ul,
  h4 + ol,
  p + ul,
  p + ol {
    margin-top: 1.15em;
  }

  ul,
  ol {
    padding-left: 0; // reset default left padding
  }

  > ul,
  > ol {
    list-style-type: square;
  }

  li {
    margin-top: 0.75em;
    margin-left: 1.15em;
    p {
      margin: 0;
    }
  }

  dl {
    padding: 0;
    dt {
      padding: 0;
      margin: 0;
      font-size: 1em;
      font-style: italic;
      font-weight: 700;
    }
    dd {
      padding: 0 0.75em;
      margin: 0;
    }
  }

  dd + dt {
    margin-top: 0.75em;
  }

  figure img {
    display: block;
    margin: 0 auto;
  }

  // stylelint-disable no-duplicate-selectors
  figcaption {
    padding: 0 1em;
    margin-top: 10px;
    font-family: var(--font-family-sans-serif);
    font-size: 16px;
    // font-style: normal;
    // font-weight: 400;
    line-height: 1.4;
    color: var(--text-muted);
    text-align: center;
    // letter-spacing: 0;
    outline: 0;

    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
  // stylelint-enable no-duplicate-selectors

  blockquote {
    // padding: 0 1em;
    // padding: 1em 1.2em;
    padding: 0.75rem; // 0.75rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 0.875em; // 85%; // .9em
    font-style: italic;
    color: var(--body-color);
    background: var(--blockquote-bg);
    // border-left: .25rem solid var(--blockquote-border); // 3px solid rgba(0, 0, 0, .8)
    border: 0;

    @media (min-width: 480px) {
      padding-left: 0.75rem - 0.25rem; // calc(15px - 0.25rem);
      margin-right: 0;
      margin-left: 0;
      border-left: 0.25rem solid var(--code-snippet-border);
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  hr {
    width: 25%;
    max-width: 100px;
    height: 0.25rem; // 2px
    margin-top: 2.75rem; // rem // 42px;
    margin-right: auto;
    margin-bottom: 2.75em; // em // 52px;
    margin-left: auto;
    color: var(--rule);
    border-radius: 0.25rem; // 2px

    // @media (max-width: 767px) {
    //  margin-top: 34px;
    //  margin-bottom: 44px;
    // }
  }

  .footnotes {
    font-size: 0.875em;

    h4 {
      font-size: 0.875em;
    }

    h4,
    ol {
      margin: 0;
    }
  } // .footnotes {...}

  // stylelint-disable selector-no-qualifying-type
  a[href^="#fn:"],
  a[href^="#fnref:"] {
    display: inline-block;
    margin-left: 0.1rem;
    font-weight: 700;
  }

  sup:target[role="doc-noteref"],
  li:target[role="doc-endnote"] {
    scroll-margin-top: 65px;

    @media (max-width: 767px) {
      scroll-margin-top: 55px;
    }
  }
  // stylelint-enable selector-no-qualifying-type
} // ./markdown {...}
