//
// Header navigation
//

.navbar {
  background-color: #fafafa;

  @media (min-width: 768px) {
    // ** should be min-height if dropdown menu contents ** //
    // ** 64px + 1px (borderbottom or box-shadow) = 65px ** //
    height: 64px;
  }
}

.navbar-brand {
  font-family: var(--font-family-serif-display);
  font-weight: 400;
  letter-spacing: -0.04em;

  // ** Font feature settings ** //
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern" on, "liga" on, "clig" on, "calt" on;
}

.navbar-light .navbar-brand {
  // stylelint-disable-next-line declaration-no-important
  color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link {
  @media (min-width: 768px) {
    margin-left: 30px;
  }

  @media (max-width: 767px) {
    line-height: 40px;
    text-align: center;
  }
}

.form-inline {
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.navbar,
.search-page-content {
  .form-control {
    background-color: #fafafa;

    @media (prefers-color-scheme: dark) {
      color: #ccc;
      background-color: #333;
      border: 1px solid #333;
    }
  }

  .btn-outline-secondary {
    border-color: #ced4da;

    @media (prefers-color-scheme: dark) {
      border-color: #333;
    }
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
    margin-left: 25px;
  }

  .nav-link {
    margin-left: 35px;
  }
}

// Scrolling behavior

.headroom {
  transition: background-color 500ms, box-shadow 500ms;
  // ** Force hardware acceleration ** //
  transform: translateZ(0);
  will-change: background-color, box-shadow;
}

.headroom--not-top {
  background-color: rgba(#fafafa, 0.97); // rgba(255, 255, 255, .97);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15); // 0 0 1px rgba(0,0,0,.15);
}

.headroom--top {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
