//
// Page layout
//

.page,
.post {
  margin-top: 49px;
  transform: translateZ(0);

  @media (min-width: 768px) {
    margin-top: 64px;
  }
}

// Page header

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
  background-color: #fff;
  // ** NOTE: Background images are set within the HTML using inline CSS! ** //
  // background-image: linear-gradient(to top, rgba(0,0,0,.44), rgba(0,0,0,.44)), url('/assets/img/feature.jpg');
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll;
  background-position: center, center;
  background-size: cover, cover;

  @media (min-width: 768px) {
    height: 420px;
    margin-bottom: 80px;
  }
}

.page-title {
  padding-bottom: 5px;
  // margin-top: 0;
  // font-family: var(--font-serif-display);
  @include font-size(4.777rem); // 50..78px
  font-weight: 800; // 700
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.002em;
  // ** Font feature settings ** //
  font-feature-settings: "kern" on, "liga" on, "clig" on, "calt" on;
  font-variant-ligatures: common-ligatures;
  // ** Mask image with a URL **//
  @include theme-mask-image();
}

.page-tagline {
  padding-top: 3px;
  margin: 10px 0 0;
  // font-family: var(--font-sans-serif);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.022em;
  word-break: break-word;
  word-wrap: break-word;

  @media (min-width: 768px) {
    font-size: 24px;
    letter-spacing: -0.02em;
  }
}

// Override styles for pagination

.masthead--paginator {
  height: 100px;

  @media (min-width: 768px) {
    height: 180px;
  }
}

.page-title--paginator {
  @include font-size(2.75rem);
}

.page-tagline--paginator {
  @include font-size(1rem);

  @media (min-width: 768px) {
    @include font-size(1.125rem); // 16..18
  }
}

// Page body content

.page-content {
  margin-bottom: 60px; // 50px
}

// Site page footer

.site-footer {
  padding: 50px 0 40px;
  // margin-top: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.04); // rgba(0, 0, 0, .02); #fafafa

  @media (min-width: 768px) {
    padding: 60px 0 50px;
  }
}

.site-footer-social {
  padding-left: 0; // reset default left padding
  list-style: none;

  > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;

      @media (min-width: 768px) {
        margin-right: 15px;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;

    @media (min-width: 768px) {
      width: 3em;
      height: 3em;
    }

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(0, 0, 0, 0.8);
    }

    svg {
      display: block;
      width: 60%;
      height: 60%;
      fill: #fff;
    }
  }

  .label {
    display: none;
  }
} // .site-footer-social {...}

.site-footer-legal {
  margin-top: 30px;
  // margin-bottom: 0;
  // font-family: var(--font-sans-serif);
  font-size: 15px;
  color: var(--text-muted); // rgba(0, 0, 0, .6);

  @media (min-width: 768px) {
    margin-top: 40px;
    font-size: 16px;
  }

  a {
    // text-decoration: underline;
    // color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
      // color: inherit;
    }
  }

  .label {
    display: none;
  }

  // white space for icon
  .icon-copyright {
    margin-right: -0.5px;
  }

  .icon-pencil-alt {
    margin-right: 1px;
    margin-left: 1.5px;
  }

  .icon-heart {
    margin-right: 1px;
    margin-left: 1px;

    &:hover {
      color: #ca1243;
      animation: none;
    }
  }

  .icon-coffee {
    width: 1.25em; // match icon size with the others
    margin-right: 1px;
    margin-left: 1px;
  }
} // .site-footer-legal {...}
