//
// Post layout
//

.post-masthead {
  padding-top: 54px;

  @media (min-width: 768px) {
    padding-top: 64px;
  }
}

.post-meta {
  padding-bottom: 10px;
  // display: block;
  // font-family: var(--font-sans-serif);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  // letter-spacing: 0;
  color: var(--text-muted);

  @media (min-width: 768px) {
    font-size: 16px;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.post-title {
  margin-top: 10px;
  margin-left: -1.75px;
  font-family: var(--font-sans-serif);
  // font-size: 28.43px; // ~1.777em (28.43px)
  @include font-size(2.777rem); // 2.333rem, 2.777rem
  // font-style: normal;
  font-weight: 900;
  line-height: 1.15; // 1.15, 1.2
  // color: rgba(0, 0, 0, .8);
  letter-spacing: -0.03em; // -.002em, -0.03em
  // ** Font feature settings ** //
  font-feature-settings: "kern" on, "liga" on, "clig" on, "calt" on;
  font-variant-ligatures: common-ligatures;
  // ** Mask image with a URL **//
  @include theme-mask-image();

  @media (min-width: 768px) {
    margin-left: -2.25px;
    // font-size: 37.9px; // ~2.369em (37.90px)
  }
}

// Post header lead container
.container.post-lead {
  // has gutter zero class (.gx-0)
  // padding-right: 0;
  // padding-left: 0;

  max-width: 853px;

  // max-width 100% on small and medium screens
  @media (max-width: 853.98px) {
    // 991.98px
    max-width: 100%;
  }
}

.post-lead-content {
  margin: 39px auto;

  @media (min-width: 768px) {
    margin: 47px auto;
  }

  @media (min-width: 854px) {
    // 992px
    iframe {
      border-radius: 0.25rem;
    }
  }
}

.post-lead-img {
  margin: 0 auto;

  @media (min-width: 854px) {
    // 992px
    border-radius: 0.25rem;
  }
}

.post-lead-caption {
  position: relative;
  top: 0;
  left: 0;
  z-index: 300;
  display: block;
  width: 100%;
  margin-top: 10px;
  // font-family: var(--font-sans-serif);
  font-size: 16px;
  // font-style: normal;
  // font-weight: 400;
  line-height: 1.4;
  color: var(--text-muted);
  text-align: center;
  letter-spacing: 0;
  outline: 0;

  @media (max-width: 991.98px) {
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.post-footer {
  padding-top: 33px; // 20px, 40px
}

.post-modified {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--text-muted);

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.post-footer-meta-acknowledgments {
  padding-top: 5px;
  // padding-bottom: 20px;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--text-muted);

  @media (min-width: 768px) {
    font-size: 16px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .icon-creative-commons-by {
    margin-left: 5px;
    font-size: 1.25em; // 21px
    vertical-align: -0.215em;
  }
}

// Post footer section

.post-footer-section {
  transform: translateZ(0);
}

// Social share

.social-share {
  padding-bottom: 25px; // 20px
  padding-left: 0;
  margin-left: -5px;
  font-size: 15px;
  color: var(--text-muted);
  list-style: none;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.social-share-lead {
  vertical-align: middle;
}

.btn--social-share {
  padding: 5px 10px;
  font-size: 14px;
  border: 0;
  border-radius: 0.25rem; // 4px
  @include theme-btn-social-share();

  .icon {
    margin-right: 0.5em;
  }

  @media (max-width: 991.98px) {
    width: 35px;
    padding: 5px 0;

    .icon {
      margin-right: 0;
    }

    .label {
      display: none;
    }
  }
}

// Post author card

.post-author-card {
  // display: flex;
  // align-items: center;
  min-height: 80px;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-top: 1px solid var(--section-divider-secondary); // rgba(0, 0, 0, .05);
}

.post-author-card-avatar {
  flex: 0 0 auto;

  a {
    // display: block;
    overflow: hidden;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    // display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 100%;
  }
} // .post-author-card-avatar { ... }

.post-author-card-body {
  flex: 1 1 auto;
  padding-right: 20px;
  padding-left: 15px;
  word-break: break-word;
  word-wrap: break-word;
}

.post-author-card-title {
  margin-bottom: 4px;
  font-size: 19px;

  @media (min-width: 768px) {
    font-size: 21px;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline var(--body-color);
    }
  }
}

.post-author-card-text {
  max-width: 450px;
  font-size: 16px;
  color: var(--text-muted);

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.rule {
  color: var(--rule);
}

// Post pager

.post-pager {
  margin-bottom: 60px;

  .post-pager-previous,
  .post-pager-next {
    width: 48%;
  }

  .post-pager-title {
    margin-bottom: 5px;
    @media (min-width: 768px) {
      margin-bottom: 7px;
    }
    font-size: 14px;
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.22em;
  }

  a {
    display: block;
    // font-family: var(--font-sans-serif);
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
    // font-style: normal;
    // font-weight: 400;
    line-height: 1.2;
    color: var(--heading-color);
    text-decoration: none;
    letter-spacing: -0.004em;
    text-rendering: optimizeLegibility;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Random posts

.random-posts {
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.02); // #fafafa
}

.random-posts-heading {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-muted);
  text-transform: uppercase;
  letter-spacing: 0.22em;
  border-bottom: solid 1px var(--section-divider-secondary); // rgba(0, 0, 0, .15);

  @media (min-width: 768px) {
    padding-top: 50px;
    font-size: 14px;
  }
}

.random-posts-item {
  position: relative;
  padding: 24px 0 17px;
  line-height: 1.1;
  border-bottom: 1px solid var(--section-divider-secondary); // rgba(0, 0, 0, .05);

  @media (min-width: 768px) {
    padding: 25px 0 32px;
  }

  &:last-child {
    border-bottom: 0;
  }

  a {
    &:hover,
    &:focus {
      .random-posts-item-title {
        text-decoration: underline var(--body-color);
      }
    }
  }
}

.random-posts-item-title {
  // margin: 0;
  // font-family: var(--font-sans-serif);
  // font-size: 22px;
  @include font-size(1.555rem);
  line-height: 1.2; // 1.3
  letter-spacing: -0.044em;

  @media (min-width: 768px) {
    // font-size: 24px;
    letter-spacing: -0.04em;
  }
}

.random-posts-item-excerpt {
  margin: 2px 0 0;
  // font-family: var(--font-sans-serif);
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.022em;

  @media (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.02em;
  }
}

.random-posts-item-meta {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.6;
  color: var(--text-muted-secondary); // rgba(0, 0, 0, .3);
  vertical-align: top;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.random-posts-footer {
  padding-top: 20px;
  text-align: center;

  .btn {
    padding: 3px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    border: 0;

    @media (min-width: 768px) {
      padding: 5px;
      font-size: 16px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
