// stylelint-disable declaration-no-important, selector-no-qualifying-type, property-no-vendor-prefix

// Reboot
//
// Normalization of HTML elements

// ----------------------------------------------------------------------
// https://developer.mozilla.org/en-US/docs/Web/CSS/::selection

::selection {
  color: #111;
  text-shadow: none;
  background: #ddd;
}

// ----------------------------------------------------------------------
// Global components

body {
  font-family: $font-family-base;
  font-size: $font-size-base; // 1rem ~ 16px
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  color: var(--body-color);
  letter-spacing: 0;
  background-color: var(--body-bg);

  // ** Font feature settings  ** //
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  color: var(--heading-color);
  letter-spacing: 0;
  text-rendering: optimizeLegibility; // enable common ligatures and kerning
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  @include theme-anchor-transition();

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }
}
