//
// SVG icons better alignment
// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
// https://fontawesome.com/how-to-use/on-the-web/advanced/svg-symbols#issues
//

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  // overflow: visible; /* svg overflow are hidden as normalize.css */
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: currentColor;
}
