---
layout: compress
title: "Page not found"
permalink: /404.html
sitemap: false
robots: "noindex, follow"
---

<!doctype html>
<html lang="en">

  <head>

    {% assign site_title = site.title | default: site.name %}
    {% if site_title %}
      {% assign site_title = site_title | smartify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    {% if page.title %}
      {% assign page_title = page.title | smartify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    {% if site.github.build_revision %}
      {% assign build_version = site.github.build_revision %}
    {% else %}
      {% assign build_version = site.time | date: '%Y%m%d%H%M%S' %}
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page_title }} &mdash; {{ site_title }}</title>
    {% if page.robots %}<meta name="robots" content="{{ page.robots }}">{% endif %}
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{ site_title }}">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="{{ site_title }}">
    <link rel="stylesheet" href="/assets/css/styles.min.css?v={{ build_version }}">
    <link rel="icon" sizes="16x16 32x32 64x64 128x128" href="/favicon.ico?v={{ build_version }}">

  </head>

  <body>

    <!-- 404 main content -->
    <div class="errorPage">
      <div class="errorPage-content clearfix">
        <div class="errorPage-message errorPage-messageLead">404</div>
        <div class="errorPage-message">Sorry, but nothing exists here.</div>
        <div class="errorPage-message errorPage-messageSmall">Find something <a href="/archives/">interesting to read</a>.</div>
      </div><!-- /.errorPage-content .clearfix -->
    </div><!-- /.errorPage -->

    {% include scripts.html %}

  </body>

</html>
