---
layout: archive
title: Archives
description: "A year wise writings collection."
image: "/assets/img/archives.jpg"
permalink: /archives/
---

<section class="archiveBody clearfix">
{% for post in site.posts %}

  {% assign site_title = site.title | default: site.name %}
  {% if site_title %}
    {% assign site_title = site_title | smartify | strip_html | strip_newlines | escape_once %}
  {% endif %}

  {% if site.logo %}
    {% assign site_logo = site.logo.path | default: site.logo %}
    {% assign site_logo = site_logo | escape %}
  {% endif %}

  {% if post.image %}
    {% assign post_image = post.image.path | default: post.image %}
    {% assign post_image = post_image | escape %}
  {% endif %}

  {% if post.author %}
    {% assign post_author = post.author.name | default: post.author %}
  {% else %}
    {% assign post_author = site.author.name | default: site.author %}
  {% endif %}
  {% if post_author %}
    {% assign post_author = post_author | smartify | strip_html | strip_newlines | escape_once %}
  {% endif %}

  {% assign day = post.date | date: '%-d' %}
  {% case day %}
    {% when '1' or '21' or '31' %}
      {% assign suffix = 'st' %}
    {% when '2' or '22' %}
      {% assign suffix = 'nd' %}
    {% when '3' or '23' %}
      {% assign suffix = 'rd' %}
    {% else %}
      {% assign suffix = 'th' %}
  {% endcase %}
  {% capture post_date %}{{ post.date | date: '%b %-d' }}{{ suffix | append:', ' }}{{ post.date | date: '%Y' }}{% endcapture %}

  {% unless post.next %}
    <h3 id="{{ post.date | date: '%Y' }}" class="archiveYear">{{ post.date | date: '%Y' }}</h3>
  {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      <h3 id="{{ post.date | date: '%Y' }}" class="archiveYear">{{ post.date | date: '%Y' }}</h3>
    {% endif %}
  {% endunless %}

  <article class="archiveItem" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage" itemid="{{ post.url | replace:'/index.html','/' }}">
    <span hidden="true" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      {% if post.image %}
        <link itemprop="url" href="{{ post_image }}">
        {% if post.image.width %}
          <meta itemprop="width" content="{{ post.image.width }}">
        {% endif %}
        {% if post.image.height %}
          <meta itemprop="height" content="{{ post.image.height }}">
        {% endif %}
      {% else %}
        <link itemprop="url" href="{{ site_logo }}">
        {% if site.logo.width %}
          <meta itemprop="width" content="{{ site.logo.width }}">
        {% endif %}
        {% if site.logo.height %}
          <meta itemprop="height" content="{{ site.logo.height }}">
        {% endif %}
      {% endif %}
    </span>
    <span hidden="true" itemprop="author" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ post_author }}">
    </span>
    <span hidden="true" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <link itemprop="url" href="{{ site_logo }}">
      </span>
      <meta itemprop="name" content="{{ site_title }}">
    </span>
    <meta itemprop="dateModified" content="{% if post.last_modified_at %}{{ post.last_modified_at | date_to_xmlschema }}{% else %}{{ post.date | date_to_xmlschema }}{% endif %}">

    <div class="row">
      <div class="col-sm-9 archiveTitle">
        <a itemprop="url" href="{{ post.url | replace:'/index.html','/' }}">
          <span itemprop="headline">{{ post.title | smartify | strip_html | strip_newlines | escape_once }}</span>
        </a>
      </div><!-- /.col-sm-9 .archiveTitle -->
      <div class="col-sm-3 archiveDate">
        <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" data-toggle="tooltip" data-placement="top" title="{{ post.date | date: '%a, %b %-d, %Y' }} at {{ post.date | date: '%-I:%M%P %Z' }}">{{ post_date }}</time>
      </div><!-- /.col-sm-3 .archiveTitle -->
    </div><!-- /.row -->
  </article>
{% endfor %}
</section><!-- /.archiveBody -->
