{% include build_version.html -%}

{%- assign site_title = site.title | default: site.name -%}
{%- if site_title -%}
  {%- assign site_title = site_title | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif %}

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% include preload.html %}

  <!-- Critical CSS -->
  {% include styles.html %}

  {% include seo_tag.html %}

  <!-- Feed -->
  {% feed_meta %}

  {% if page.robots %}
    <!-- robotstxt.org  -->
    <meta name="robots" content="{{ page.robots }}" />
  {% endif %}

  <!-- humanstxt.org -->
  <link type="text/plain" rel="author" href="{{ 'humans.txt' | absolute_url }}" />

  <!-- Open Search description -->
  <link type="application/opensearchdescription+xml" rel="search" href="{{ 'opensearch.xml' | absolute_url }}" title="{{ site_title }}" />

  <!-- Favicon & startup configuration -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}?v={{ build_version }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon-32x32.png' | relative_url }}?v={{ build_version }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon-16x16.png' | relative_url }}?v={{ build_version }}" />
  <link rel="manifest" href="{{ 'manifest.webmanifest' | relative_url }}" />
  <link rel="mask-icon" href="{{ 'assets/img/safari-pinned-tab.svg' | relative_url }}?v={{ build_version }}" color="{{ site.theme_color }}" />
  <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}?v={{ build_version }}" />
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}" />
  <meta name="msapplication-config" content="{{ 'browserconfig.xml' | relative_url }}" />
  <meta name="theme-color" content="{{ site.theme_color }}" />

</head>
