{% include build_version.html -%}

{%- assign site_title = site.title | default: site.name -%}
{%- if site_title -%}
  {%- assign site_title = site_title | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif %}

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="profile" href="https://gmpg.org/xfn/11" />

  {% include preload.html %}

  <!-- Critical CSS -->
  {% include styles.html %}

  {% include seo_tag.html %}

  <!-- Feed -->
  <link rel="alternate" type="application/atom+xml" href="{{ '/feed.xml' | absolute_url }}" title="{{ site_title }}" />

  <!-- Open Search description -->
  <link rel="search" type="application/opensearchdescription+xml" href="{{ 'opensearch.xml' | absolute_url }}" title="{{ site_title }}" />

  <!-- humanstxt.org -->
  <link rel="author" type="text/plain" href="{{ 'humans.txt' | absolute_url }}" />

  <!-- Favicon & startup configuration -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png?v=' | append: build_version |  relative_url }}" />
  <link rel="alternate icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon-32x32.png?v=' | append: build_version | relative_url }}" />
  <link rel="alternate icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon-16x16.png?v=' | append: build_version | relative_url }}" />
  <link rel="manifest" href="{{ 'manifest.webmanifest' | relative_url }}" />
  <link rel="mask-icon" href="{{ 'assets/img/safari-pinned-tab.svg?v=' | append: build_version | relative_url }}" color="{{ site.theme_color }}" />
  <!-- <link rel="shortcut icon" href="{{ 'favicon.ico?v=' | append: build_version | relative_url }}" /> -->
  <link rel="icon" type="image/svg+xml" href="{{ 'assets/img/favicon.svg?v=' | append: build_version |  relative_url }}" />
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}" />
  <meta name="msapplication-config" content="{{ 'browserconfig.xml' | absolute_url }}" />
  <meta name="theme-color" content="{{ site.theme_color }}" />
  <meta name="color-scheme" content="light dark" />
</head>
