{%- comment -%}<!-- _layouts/head.html -->{%- endcomment -%}

{% if page.permalink == "/" %}
  {%- assign site_title = site.title | default: site.name -%}
  {%- if site_title -%}
    {%- assign site_title = site_title | smartify | strip_html | normalize_whitespace | escape_once -%}
  {%- endif -%}
  <title>{{ site_title }} &bull; {{ site.tagline }}</title>
  {% seo title=false %}
{% else %}
  {% seo %}
{% endif %}

{%- if page.image and page.image != empty -%}
  {%- assign hasImage = true -%}
{% elsif page.image.path and page.image.path != empty %}
  {%- assign hasImage = true -%}
{% else %}
  {%- assign hasImage = false -%}
  {%- assign thumbnail = page.thumbnail.path | default: page.thumbnail | default: site.logo -%}
  {%- unless thumbnail contains "://" -%}
    {%- assign thumbnail = thumbnail | absolute_url -%}
  {%- endunless -%}
  {%- assign thumbnail = thumbnail | escape -%}
{%- endif -%}

{% unless hasImage %}
  <meta property="og:image" content="{{ thumbnail }}" />
  {% if page.thumbnail.width %}
    <meta property="og:image:width" content="{{ page.thumbnail.width }}" />
  {% endif %}
  {% if page.thumbnail.height %}
    <meta property="og:image:height" content="{{ page.thumbnail.height }}" />
  {% endif %}
  <meta property="twitter:image" content="{{ thumbnail }}" />
{% endunless %}

{% if page.permalink == "/" or page.permalink == "/about/" %}
  <!-- Site author JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person"

      {%- if site.author -%},
        "name": {{- site.author.name | default: site.author | jsonify -}}
      {%- endif -%}

      {%- if site.author.gender -%},
        "gender": {{- site.author.gender | jsonify -}}
      {%- endif -%}

      {%- if site.author.bio -%},
        "description": {{- site.author.bio | smartify | strip_html | normalize_whitespace | escape_once | jsonify -}}
      {%- endif -%}

      {%- if site.author.avatar -%},
        "image": {{- site.author.avatar | absolute_url | jsonify -}}
      {%- endif -%}

      {%- if site.author.nationality -%},
        "nationality": {{- site.author.nationality | jsonify -}}
      {%- endif -%}

      {%- if site.url -%},
        "url": {{- "/" | absolute_url | jsonify -}}
      {%- endif -%}

      {%- if site.social -%},
        "sameAs": {{- site.social.links | jsonify -}}
      {%- endif -%}
    }
    </script>
{% endif %}
