{%- comment -%}<!-- _layouts/page.html -->{%- endcomment -%}

{%- if site.author -%}
  {%- assign site_author = site.author.name | default: site.author -%}
{%- endif -%}
{%- if site_author -%}
  {%- assign site_author = site_author | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- assign site_title = site.title | default: site.name -%}
{%- if site_title -%}
  {%- assign site_title = site_title | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

<!-- Footer -->
<footer class="site-footer user-select-none" id="footer" role="contentinfo">
  <div class="container">
    <ul class="site-footer-social">
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" aria-label="Atom Feed">
          {% include icons/rss.svg width="1em" height="1em" class="icon-rss" %}
          <span class="label">Atom Feed</span>
        </a>
      </li><!--

      --><li>
        <a rel="me" href="https://mastodon.social/@milanaryal" aria-label="Mastodon">
          {% include icons/mastodon.svg width="1em" height="1em" class="icon-mastodon" %}
          <span class="label">Mastodon</span>
        </a>
      </li><!--

      --><!--{% if site.author.x %}<li>
        <a rel="me" href="https://x.com/{{ site.author.x }}" aria-label="X">
          {% include icons/x-twitter.svg width="1em" height="1em" class="icon-x-twitter %}
          <span class="label">X</span>
        </a>
      </li>{% endif %}--><!--

      -->{% if site.author.instagram %}<li>
        <a rel="me" href="https://www.instagram.com/{{ site.author.instagram }}/" aria-label="Instagram">
          {% include icons/instagram.svg width="1em" height="1em" class="icon-instagram" %}
          <span class="label">Instagram</span>
        </a>
      </li>{% endif %}<!--

      -->{% if site.author.github %}<li>
        <a rel="me" href="https://github.com/{{ site.author.github }}" aria-label="GitHub">
          {% include icons/github.svg width="1em" height="1em" class="icon-github" %}
          <span class="label">GitHub</span>
        </a>
      </li>{% endif %}<!--

      -->{% if site.author.facebook %}<li>
        <a rel="me" href="https://facebook.com/{{ site.author.facebook }}" aria-label="Facebook">
          {% include icons/facebook-f.svg width="1em" height="1em" class="icon-facebook-f" %}
          <span class="label">Facebook</span>
        </a>
      </li>{% endif %}
    </ul>

    <p class="site-footer-legal user-select-none"><!--

      -->{% include icons/copyright.svg width="1em" height="1em" class="icon icon-copyright" aria-label="copyright" title="Copyright" %}<!-- &copy; --><span class="label">Copyright</span>&nbsp;<!--

      -->{{ site.time | date: '%Y' }}&nbsp;{% if site.author %}{{ site_author }}{% else %}{{ site_title }}{% endif %}.&nbsp;<!--

      -->{% include icons/pencil-alt.svg width="1em" height="1em" class="icon icon-pencil-alt" aria-label="made" title="Made" %}<!-- --><span class="label">Made</span><!--

      -->&nbsp;<span>with</span>&nbsp;<!--

      -->{% include icons/heart.svg width="1em" height="1em" class="icon icon-heart animate--heartbeat" aria-label="love" title="love" %}<!-- --><span class="label">love</span><!--

      -->&nbsp;<span>&amp;</span>&nbsp;<!--

      -->{% include icons/coffee.svg width="1em" height="1em" class="icon icon-coffee" aria-label="coffee" title="coffee" %}<!-- --><span class="label">coffee</span><!--

      -->&nbsp;<span>in</span>&nbsp;<span>Nepal</span><span>.</span><!--

    --></p><!-- /.site-footer-legal -->
  </div><!-- /.container -->
</footer>
