{%- if page.url -%}
 {%- assign page_url = page.url | replace:'/index.html','/' | absolute_url | uri_escape -%}
{%- endif -%}

{%- if page.title -%}
  {%- assign page_title = page.title | smartify | strip_html | normalize_whitespace | uri_escape -%}
{%- endif -%}

{%- capture twitter_share_link -%}https://twitter.com/intent/tweet?url={{ page_url }}&text={{ page_title }}{%- if site.author.twitter -%}&via={{ site.author.twitter }}{%- endif -%}{%- endcapture -%}
{%- if twitter_share_link -%}
  {%- assign twitter_share_link = twitter_share_link | escape_once -%}
{%- endif -%}

{%- capture facebook_share_link -%}https://www.facebook.com/sharer/sharer.php?u={{ page_url }}&t={{ page_title }}{%- endcapture -%}
{%- if facebook_share_link -%}
  {%- assign facebook_share_link = facebook_share_link | escape_once -%}
{%- endif -%}

{%- capture linkedin_share_link -%}https://www.linkedin.com/shareArticle?mini=true&url={{ page_url }}&title={{ page_title }}{%- endcapture -%}
{%- if linkedin_share_link -%}
  {%- assign linkedin_share_link = linkedin_share_link | escape_once -%}
{%- endif -%}

{%- capture telegram_share_link -%}https://t.me/share/url?url={{ page_url }}&text={{ page_title }}{%- endcapture -%}
{%- if telegram_share_link -%}
  {%- assign telegram_share_link = telegram_share_link | escape_once -%}
{%- endif -%}

{%- capture email_share_link -%}mailto:?subject={{ page_title }}&body={{ page_url }}{%- endcapture -%}
{%- if email_share_link -%}
  {%- assign email_share_link = email_share_link | escape_once -%}
{%- endif -%}

<ul class="social-share clearfix d-print-none user-select-none">
  <li class="social-share-lead">Share this:</li><li>
    <a class="btn btn--social-share btn--social-share-popup" href="{{ twitter_share_link }}" target="_blank" rel="noopener nofollow" role="button" data-proofer-ignore="true">
      {% include icons/x.svg width="1em" height="1em" class="icon icon-twitter" %}<span class="label">X</span>
    </a>
  </li><li>
    <a class="btn btn--social-share btn--social-share-popup" href="{{ facebook_share_link }}" target="_blank" rel="noopener nofollow" role="button" data-proofer-ignore="true">
      {% include icons/facebook.svg width="1em" height="1em" class="icon icon-facebook" %}<span class="label">Facebook</span>
    </a>
  </li><li>
    <a class="btn btn--social-share btn--social-share-popup" href="{{ linkedin_share_link }}" target="_blank" rel="noopener nofollow" role="button" data-proofer-ignore="true">
      {% include icons/linkedin.svg width="1em" height="1em" class="icon icon-linkedin" %}<span class="label">LinkedIn</span>
    </a>
  </li><li>
    <a class="btn btn--social-share btn--social-share-popup" href="{{ telegram_share_link }}" target="_blank" rel="noopener nofollow" role="button" data-proofer-ignore="true">
      {% include icons/telegram.svg width="1em" height="1em" class="icon icon-telegram" %}<span class="label">Telegram</span>
    </a>
  </li><li>
    <a class="btn btn--social-share" href="{{ email_share_link }}" rel="noopener nofollow" role="button" data-proofer-ignore="true">
      {% include icons/envelope.svg width="1em" height="1em" class="icon icon-envelope" %}<span class="label">Email</span>
    </a>
  </li>
</ul>
