# Browsers that we support
# https://github.com/browserslist/browserslist#readme

# defaults

>= 1%
last 1 major version
not dead
Chrome >= 50
Firefox >= 48
Edge >= 16
iOS >= 10
Safari >= 10
Android >= 6
not Explorer <= 10
