# Browsers that we support
# https://github.com/browserslist/browserslist#readme

# defaults

>= 0.5%
last 2 major versions
not dead
Chrome >= 50
Firefox >= 48
Firefox ESR
Edge >= 16
iOS >= 10
Safari >= 10
Android >= 6
not Explorer <= 10
