{
  "printWidth": 80,
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "singleQuote": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    }
  ]
}
