title: Milan Aryal
description: "Livin' on the edge of web standards."
url: https://milanaryal.com.np

logo:
  path: "/assets/img/m-icon-blue-on-white.png"
  width: 300
  height: 300

image: "/assets/img/writings.jpg"
theme_color: "#2196f3"

author:
  name: Milan Aryal
  email: considermilan@gmail.com
  uri: https://twitter.com/MilanAryal
  avatar: "/assets/img/m-icon-white-on-blue.png"
  bio: "I love getting lost in developing web, watching movies, and travelling new places."
  facebook: considermilan
  twitter: MilanAryal
  instagram: milanaryal
  google_plus: MilanAryal
  linkedin: MilanAryal
  pinterest: milanaryal
  tumblr: milanaryal
  github: MilanAryal
  keybase: milanaryal
  street: "Chandragiri 15"
  locality: Kathmandu
  region: Bagmati
  postcode: 44600
  country: Nepal

facebook:
  admins: 100001982813077

twitter:
  username: MilanAryal

disqus_shortname: milanaryal
google_cse_id: 000254926668963224856:z4vgwqv7kla
google_api_key: AIzaSyB27uh5sPHJ156nRryf1yuJn6fjo_B7qvI
google_analytics_id: UA-42092423-1
language: en

nav:
  - title: Writings
    url: "/writings/"
  - title: About
    url: "/about/"
  - title: Contact
    url: "/contact/"

repository: MilanAryal/milanaryal.github.io
branch: master
encoding: utf-8
timezone: Asia/Kathmandu
locale: en_us
future: true

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  toc_levels: 1..3

highlighter: rouge

gist:
  noscript: false

paginate_path: "/writings/page:num/"
paginate: 10

permalink: "/:title/"
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
  - scope:
      path: "uploads/**/*.pdf"
    values:
      sitemap: false

plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-github-metadata
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-sitemap

compress_html:
  clippings: all
  comments: all
  ignore:
    envs: development
  profile: false

include:
  - "_pages"

exclude:
  - README.md
  - LICENSE
  - CNAME
  - Gemfile
  - Gemfile.lock
  - Rakefile
  - Gruntfile.js
  - package.json
  - npm-debug.log
  - node_modules
  - vendor
  - bundle
  - ".bundle"
  - ".sass-cache"
  - script
  - src
