---
layout: page
title: Archives
excerpt: "A year wise archive collection for Milan Aryal"
description: "A year wise archive collection."
header-img: "/assets/img/home-bg.jpg"
permalink: /archives/
redirect_from: /archive/
---

<section class="archives">
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h3 class="section-heading">{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 class="section-heading">{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

	<li class="row">
        <div class="col-sm-9">
			<a href="{{ post.url }}">{{ post.title }}</a></a>
        </div>
        <div class="col-sm-3 text-muted">
			<time>{{ post.date | date: '%B %d, %Y' }}</time>
        </div>
    </li>
  {% endfor %}
</ul>
</section>