---
layout: archive
title: Archives
description: "A year wise writings collection."
featured_image: "/assets/img/archives-bg.jpg"
permalink: /archives/
---

<div class="archive">
{% for post in site.posts %}
  {% unless post.next %}
    <h3 id="{{ post.date | date: '%Y' }}" class="section-heading">{{ post.date | date: '%Y' }}</h3>
  {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      <h3 id="{{ post.date | date: '%Y' }}" class="section-heading">{{ post.date | date: '%Y' }}</h3>
    {% endif %}
  {% endunless %}
  <article itemscope itemtype="https://schema.org/Article">
    <meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage" itemid="{{ post.url | replace:'index.html','' | prepend: site.url }}">
    <span class="hidden" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <link itemprop="url" href="{{ site.icon.base_url | prepend: site.url }}">
      <meta itemprop="width" content="{{ site.icon.width }}">
      <meta itemprop="height" content="{{ site.icon.height }}">
    </span>
    <span class="hidden" itemprop="author" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{% if post.author.name %}{{ post.author.name }}{% elsif post.author %}{{ post.author }}{% elsif site.author.name %}{{ site.author.name }}{% elsif site.author %}{{ site.author }}{% endif %}">
    </span>
    <span class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <link itemprop="url" href="{{ site.icon.base_url | prepend: site.url }}">
      </span>
      <meta itemprop="name" content="{{ site.name }}">
    </span>
    <ul class="row">
      <li class="col-sm-9">
        <a itemprop="url" href="{{ post.url }}"><span itemprop="headline">{{ post.title | markdownify | strip_html | strip_newlines }}</span></a>
      </li>
      <li class="col-sm-3 text-muted text-right">
        {% assign day = post.date | date: '%-d' %}
        {% case day %}
          {% when '1' or '21' or '31' %}
            {% assign suffix = 'st' %}
          {% when '2' or '22' %}
            {% assign suffix = 'nd' %}
          {% when '3' or '23' %}
            {% assign suffix = 'rd' %}
          {% else %}
            {% assign suffix = 'th' %}
        {% endcase %}
        {% capture post_date %}{{ post.date | date: '%b %-d' }}{{ suffix | append:', ' }}{{ post.date | date: '%Y' }}{% endcapture %}
        <meta itemprop="dateModified" content="{% if post.last_modified_at %}{{ post.last_modified_at | date_to_xmlschema }}{% else %}{{ post.date | date_to_xmlschema }}{% endif %}">
        <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" data-toggle="tooltip" data-placement="top" title="{{ post.date | date: '%a, %b %-d, %Y' }} at {{ post.date | date: '%-I:%M%P %Z' }}">{{ post_date }}</time>
      </li>
    </ul>
  </article>
{% endfor %}
</div><!-- /.archive -->
