---
layout: page
title: Archives
description: "A year wise archive collection."
excerpt: "A year wise archive collection for Milan Aryal"
header_image: "/assets/img/archives-bg.jpg"
redirect_from: /archive/
permalink: /archives/
---

<ul class="archives">
  {% for post in site.posts %}

    {% unless post.next %}
      <h3 class="section-heading">{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 class="section-heading">{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li class="row">
        <div class="col-sm-9">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="col-sm-3 text-muted">
            <time>{{ post.date | date_to_string }}</time>
        </div>
    </li>

  {% endfor %}
</ul>