---
layout: page
title: "Contact"
description: "Have questions? I have answers (maybe)."
excerpt: "Have questions? I have answers (maybe)."
featured_image: "/assets/img/contact-bg.jpg"
permalink: /contact/
---

<p>If you have any questions, or just questions in general, you can ask me anything over in <strong><i class="fa fa-github"></i> <a rel="contact" href="//github.com/MilanAryal/feedback">MilanAryal/feedback</a></strong>, otherwise, feel free to e-mail me at <strong><i class="fa fa-envelope-o"></i> <a rel="contact" href="//www.google.com/recaptcha/mailhide/d?k=01bN4PKtERxR0aeMR6mae2dw==&amp;c=CI3q6gqS8ml9GNRRqB549A0aadNxkjwONFjvlMYKApc=" onclick="window.open('//www.google.com/recaptcha/mailhide/d?k\07501bN4PKtERxR0aeMR6mae2dw\75\75\46c\75CI3q6gqS8ml9GNRRqB549A0aadNxkjwONFjvlMYKApc\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">[show email]</a></strong> or you can find me on these social networks and I will try to get back to you within 24 hours!:</p>

<ul class="list-inline text-center">
  {% if site.author.twitter %}
  <li>
    <a rel="me" href="//twitter.com/{{ site.author.twitter }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-twitter fa-stack-2x"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.facebook %}
  <li>
    <a rel="me" href="//facebook.com/{{ site.author.facebook }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-facebook fa-stack-2x"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.google_plus %}
  <li>
    <a rel="me" href="//google.com/+{{ site.author.google_plus }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-google-plus fa-stack-2x"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.linkedin %}
  <li>
    <a rel="me" href="//linkedin.com/in/{{ site.author.linkedin }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-linkedin fa-stack-2x"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.github %}
  <li>
    <a rel="me" href="//github.com/{{ site.author.github }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-2x"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.keybase %}
  <li>
    <a rel="me" href="//keybase.io/{{ site.author.keybase }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-key fa-stack-2x"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>

<br>

<ul class="list-inline text-center">
  <li>
    <a href="//keybase.io/milanaryal/key.asc">
      PGP: <code>0E05 8FE1 2C97 D784 F249 38A6 93E4 985B 79FA 9E12</code>
    </a>
  </li>
</ul>

<p>&nbsp;</p>
