---
title: "Blog"
tagline: "Living on the edge"
description: "The personal weblog and portfolio of Milan Aryal, with content that mostly focusses on his work, interests and hobbies."
layout: page
blog: true
redirect_from: "/writings/"
---

<div class="clearfix">
{% for post in paginator.posts %}

  {%- include reading_time.html content=post.content -%}

  {%- if post.title -%}
    {%- assign post_title = post.title | smartify | strip_html | normalize_whitespace | escape_once -%}
  {%- endif -%}

  {%- if post.url -%}
    {%- assign post_url = post.url | replace:'/index.html','/' | relative_url -%}
  {%- endif -%}

  {% assign post_summary = post.description | default: post.excerpt %}
  {%- if post_summary and post_summary != empty -%}
    {%- assign post_summary = post_summary | markdownify | strip_html | normalize_whitespace | truncate: 160 | escape_once -%}
  {%- endif -%}

  {%- comment -%}### POST_AUTHOR ###{%- endcomment -%}
  {%- assign author = page.author.name | default: page.author | default: site.author.name | default: site.author %}
  {%- if author -%}
    {%- assign author = author | smartify | strip_html | normalize_whitespace | escape_once -%}
  {%- endif -%}
  {%- if author -%}
    {%- capture post_author -%}
      <span style="display: none;">Written by <a class="p-author h-card" href="{{ '/' | relative_url }}">{{ author }}</a> on <!-- --></span>
    {%- endcapture -%}
  {%- endif -%}
  {%- comment -%}### POST_MODIFIED ###{%- endcomment -%}
  {%- if post.last_modified_at -%}
    {%- capture post_modified -%}
      <span style="display: none;"> &middot; Last updated <time style="display: none;" class="dt-dt-updated" datetime="{{ post.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date: '%b %-d, %Y' }}</time></span>
    {%- endcapture -%}
  {%- endif -%}

  <article class="post-preview clearfix h-entry">
    <div class="post-preview-meta">
      {{ post_author }}<a href="{{ post_url }}"><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}"{% if post.last_modified_at %} data-bs-toggle="tooltip" data-bs-placement="top" title="Updated {{ post.last_modified_at | date: '%b %-d, %Y' }}"{% endif %}>{{ post.date | date: '%b %-d, %Y' }}</time></a>{% if post_modified %}{{ post_modified }}{% endif %}<!--
      --> &middot; <!--
      --><span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ total_words }}">{{ reading_time }}</span>
    </div>

    <a class="u-url" href="{{ post_url }}">
      <h2 class="post-preview-title p-name">{{ post_title }}</h2>
      {% if post_summary and post_summary != empty %}
        <p class="post-preview-excerpt p-summary">{{ post_summary }}</p>
      {% endif %}
    </a>
  </article><!-- /.post-preview -->

{% endfor %}
</div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}

<nav class="pager clearfix">

  {% unless paginator.page > 1 %}
  <a class="btn btn-outline-default btn--archive float-start" href="{{ 'archive/' | relative_url }}" role="button">
    {% include icons/archive.svg width="1em" height="1em" class="icon icon-archive p-1px" %}<!--
    -->&nbsp;<span class="label">Archive</span>
  </a>
  {% endunless %}

  {% if paginator.previous_page %}
  <a class="btn btn-outline-default float-start" href="{{ paginator.previous_page_path | relative_url }}" role="button">
    {% include icons/angle-left.svg width="1em" height="1em" class="icon icon-angle-left" %}<!--
    -->&nbsp;<span class="label">Newer</span>
  </a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-outline-default float-end" href="{{ paginator.next_page_path | relative_url }}" role="button">
    <span class="label">Older</span>&nbsp;<!--
    -->{% include icons/angle-right.svg width="1em" height="1em" class="icon icon-angle-right" %}
  </a>
  {% endif %}

</nav>

{% endif %}
