<div class="hidden-xs">
  <iframe src="https://ylx-3.com/banner_show.php?section=General&amp;pub=173374&amp;format=728x90&amp;ga=g&amp;https=1" frameborder="0" scrolling="no" width="728" height="90" marginwidth="0" marginheight="0"></iframe>
</div>

<div class="visible-xs">
  <iframe src="https://ylx-3.com/banner_show.php?section=General&amp;pub=173374&amp;format=300x50&amp;ga=g&amp;https=1" frameborder="0" scrolling="no" width="300" height="50" marginwidth="0" marginheight="0"></iframe>
</div>
