<!-- Disqus commenting system (https://disqus.com/admin/universalcode/) -->
<link rel="dns-prefetch" href="//{{ site.disqus_shortname }}.disqus.com">
<link rel="preload" href="//{{ site.disqus_shortname }}.disqus.com/count.js" as="script">
<link rel="preload" href="//{{ site.disqus_shortname }}.disqus.com/embed.js" as="script">

<div class="comments clearfix">
  <button id="js-button-comment" class="btn btn-outline-default btn-disqus" onclick="initDisqus_onClick()"><span class="svg-icon icon-comment svg-baseline" aria-hidden="true"><svg><use xlink:href="/assets/icons/icons.min.svg#icon-comment"></use></svg></span><span class="disqus-comment-count" data-disqus-url="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">Leave a comment</span></button>

  <div id="disqus_thread"></div>

  <noscript><p>Please enable JavaScript to view the comments.</p></noscript>
</div><!-- /.comments -->

<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>

<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | replace:'/index.html','/' | prepend: site.url }}';
  };

  function initDisqus_onClick() {
    document.getElementById('js-button-comment').setAttribute('hidden', 'true');

    var d = document, s = d.createElement('script');

    s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  }
</script>
