<!-- Disqus commenting system (https://disqus.com/admin/universalcode/) -->
<link rel="dns-prefetch" href="//{{ site.disqus_shortname }}.disqus.com" />
<link rel="preload" href="//{{ site.disqus_shortname }}.disqus.com/count.js" as="script" />
<link rel="preload" href="//{{ site.disqus_shortname }}.disqus.com/embed.js" as="script" />

<div class="comments clearfix">
  <button id="js-button-comment" class="btn btn-outline-default btn--disqus" onclick="initDisqus_onClick()"><svg class="icon icon-comment" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"/></svg><span class="disqus-comment-count" data-disqus-url="{{ page.url | replace:'/index.html','/' | absolute_url }}">Leave a comment</span></button>

  <div id="disqus_thread"></div>

  <noscript><p>Please enable JavaScript to view the comments.</p></noscript>
</div><!-- /.comments -->

<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>

<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | replace:'/index.html','/' | absolute_url }}';
  };

  function initDisqus_onClick() {
    document.getElementById('js-button-comment').setAttribute('hidden', 'true');

    var d = document, s = d.createElement('script');

    s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  }
</script>
