<!-- Disqus commenting system -->
<div id="disqus_thread"></div>
<script>
  var disqus_shortname = '{{ site.disqus_shortname }}';
  var disqus_identifier = '{{ page.id }}';
  var disqus_title = '{{ page.title | markdownify | strip_html | strip_newlines | escape | replace:"'","\'" }}';
  var disqus_url = '{{ page.url | replace:'index.html','' | prepend: site.url }}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
