<!-- Footer -->
<footer class="info-footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="/feed.xml">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% if site.author.twitter %}
          <li>
            <a rel="me" href="//twitter.com/{{ site.author.twitter }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.author.google_plus %}
          <li>
            <a rel="me" href="//google.com/+{{ site.author.google_plus }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.author.github %}
          <li>
            <a rel="me" href="//github.com/{{ site.author.github }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.author.tumblr %}
          <li>
            <a rel="me" href="http://{{ site.author.tumblr }}.tumblr.com">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright">
          &copy; <span itemprop="copyrightYear">{{ site.time | date: '%Y' }}</span> {% if site.author.name %}<span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person"><span property="cc:attributionName" itemprop="name">{{ site.author.name }}</span></span>{% else %}{{ site.name }}{% endif %}. <a rel="nofollow" href="//creativecommons.org/licenses/by/4.0/" data-toggle="tooltip" data-placement="top" data-original-title="Except where otherwise noted, this work is licensed under a Creative Commons Attribution 4.0 International license.">Some rights reserved</a>.
          <span class="hidden">Except as otherwise <a href="//creativecommons.org/policies#license">noted</a>, the content of <span href="{{ site.url }}/" rel="cc:attributionURL">this site</span> is licensed under the <a rel="license cc:license" itemprop="license" href="//creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>, and code samples are licensed under the <a rel="license" itemprop="license" href="//github.com/MilanAryal/milanaryal.github.io/blob/master/LICENSE">MIT license</a>.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
