<!-- Google Maps API Key - Use your own API key to enable the map feature.
     More information on the Google Maps API can be found at https://developers.google.com/maps/documentation/javascript/tutorial#api_key -->
<script src="//maps.googleapis.com/maps/api/js?key={{ site.google_api_key }}&sensor=false" async></script>

<!-- The element that will contain our Google Map. This is used in both the Javascript and CSS. -->
<figure>
  <div id="map-canvas"></div>

  <figcaption>Hometown</figcaption>
</figure>
