<!-- Navigation -->
<header class="navbar navbar-default{% if page.url == '/' %} navbar-static-top{% else %} navbar-fixed-top headerNavbar{% endif %}" role="banner" itemscope itemtype="https://schema.org/WPHeader">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          {% assign site_name = site.title | default: site.name %}
          {% if site_name %}
            {% assign site_name = site_name | smartify | strip_html | strip_newlines | escape_once %}
          {% endif %}
          <a class="navbar-brand" itemprop="url" href="/">
            <span itemprop="name">{{ site_name }}</span>
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <nav class="collapse navbar-collapse navbar-top-collapse" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul class="nav navbar-nav navbar-right">
          {% for nav_item in site.nav %}
            <li>
              <a itemprop="url" href="{{ nav_item.url }}">
                <span itemprop="name">{{ nav_item.title | smartify | strip_html | strip_newlines | escape_once }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</header>
