<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light{% unless page.url == '/' %} fixed-top headroom{% endunless %}">
  <div class="container">
    {% assign site_title = site.title | default: site.name %}
    {% if site_title %}
      {% assign site_title = site_title | smartify | strip_html | strip_newlines | escape_once %}
    {% endif %}
    <a class="navbar-brand" href="/">{{ site_title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% for nav_item in site.nav %}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav_item.url }}">{{ nav_item.title | smartify | strip_html | strip_newlines | escape_once }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
