{%- include build_version.html -%}

{%- assign page_title = page.title | default: site.title | default: site.name -%}
{%- if page_title -%}
  {%- assign page_title = page_title | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- if paginator.page > 1 -%}
  {%- capture page_title -%}
    Page {{ paginator.page }} of {{ paginator.total_posts }} for {{ page_title }}
  {%- endcapture -%}
{%- endif -%}

{%- if page.tagline -%}
  {%- assign page_tagline = page.tagline | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- assign page_image = page.feature_image.path | default: page.feature_image -%}
{%- if page_image -%}
  {%- assign page_image = page_image | escape -%}
  {%- unless page_image contains "://" -%}
    {%- assign page_image = page_image | escape | absolute_url -%}
  {%- endunless -%}
{%- endif -%}

<!-- Page masthead -->
<div class="masthead{% if paginator.page > 1 %} masthead--paginator{% endif %}" style="background-image: linear-gradient(to top, rgba(0,0,0,.44), rgba(0,0,0,.44)), url('{{ page_image }}?v={{ build_version }}');">
  <div class="container">

    <h1 class="page-title{% if paginator.page > 1 %} page-title--paginator{% endif %}">{{ page_title }}</h1>

    {% if page_tagline %}

      {% unless paginator.page > 1 %}
        <hr class="half-rule">

        <p class="page-tagline{% if paginator.page > 1 %} page-tagline--paginator{% endif %}">{{ page_tagline }}</p>
      {% endunless %}

    {% endif %}

  </div><!-- /.container -->
</div>
