{%- assign page_title = page.title | default: site.title | default: site.name -%}
{%- if page_title -%}
  {%- assign page_title = page_title | smartify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{%- assign page_tagline = page.tagline | default: site.tagline -%}
{%- if page_tagline -%}
  {%- assign page_tagline = page_tagline | smartify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{%- assign page_image = page.image.path | default: page.image | default: site.image.path | default: site.image -%}
{%- if page_image -%}
  {%- assign page_image = page_image | escape -%}
{%- endif -%}

<!-- Page header -->
<header class="page-header{% if paginator.page > 1 %} paginator-header{% endif %}" style="background-image: linear-gradient(to top, rgba(0,0,0,.44), rgba(0,0,0,.44)), url('{{ page_image }}');">
  <div class="container">
    <h1 class="page-header-title{% if paginator.page > 1 %} paginator-header-title{% endif %}" itemprop="name">{{ page_title }}</h1>
    <hr class="page-header-intro-divider{% if paginator.page > 1 %} paginator-header-intro-divider{% endif %}">
    <span class="page-header-tagline{% if paginator.page > 1 %} paginator-header-tagline{% endif %}" itemprop="description">{{ page_tagline }}</span>
  </div><!-- /.container -->
</header>
