<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if page.title %}<meta name="description" content="{{ page.excerpt }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}<meta content="{{ page.title }}" property="og:title">{% else %}<meta content="{{ site.title }}" property="og:title">{% endif %}
{% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="blog" property="og:type">{% endif %}
{% if page.title %}<meta content="{{ page.excerpt }}" property="og:description">{% else %}<meta content="{{ site.description }}" property="og:description">{% endif %}
{% if page.url %}<meta content="{{ site.url | replace:'index.html','' }}{{ page.url | replace:'index.html','' }}" property="og:url">{% endif %}
{% if page.image %}<meta content="{{ site.url }}{{ page.image }}" property="og:image">{% else %}<meta content="{{ site.url }}/assets/img/icon.png" property="og:image">{% endif %}
{% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.url }}/about/" property="article:author">{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@MilanAryal">
<link rel="author" href="//plus.google.com/+MilanAryal">
<meta property="fb:admins" content="100001982813077">
<link rel="author" type="text/plain" href="{{ site.url }}/humans.txt" />
