{% if page.url == "/index.html" %}
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property='og:description' content="{{ site.description }}">
    <meta content="{{ site.title }}" property="og:title">
    <meta content="blog" property="og:type">
    <meta content="{{ site.url }}" property="og:url">
{% else %}
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt }}">
    <meta property='og:description' content="{{ page.excerpt }}">
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}/about/" property="article:author">
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
{% endif %}
    <meta content="{{ site.title }}" property="og:site_name">
{% if page.image %}
    <meta content="{{ site.url }}{{ page.image }}" property="og:image">
{% else %}
    <meta content="{{ site.url }}/assets/img/icon.png" property="og:image">
{% endif %}
{% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
    <meta property="og:locale" content="en_us">
    <meta property="fb:admins" content="100001982813077">
    <meta property="twitter:account_id" content="313133078">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@MilanAryal">
    <meta name="twitter:creator" content="@MilanAryal">
    <link rel="author" href="//plus.google.com/+MilanAryal">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"{% if page.url == "/404.html" %} data-proofer-ignore="true"{% endif %}>
{% if page.robots %}
    <meta name="robots" content="{{ page.robots }}">
{% endif %}
