<!-- Footer -->
<footer class="site-footer" role="contentinfo" itemscope itemtype="https://schema.org/WPFooter">
  <div class="container">
    <ul class="site-footer-social">
      <li>
        <a href="/feed.xml">
          <svg class="svg" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-rss"></use></svg>
          <span class="label">Feed</span>
        </a>
      </li>
      {% if site.author.twitter %}
      <li>
        <a rel="me" href="//twitter.com/{{ site.author.twitter }}">
          <svg class="svg" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-twitter"></use></svg>
          <span class="label">Twitter</span>
        </a>
      </li>
      {% endif %}
      {% if site.author.instagram %}
      <li>
        <a rel="me" href="//instagram.com/{{ site.author.instagram }}">
          <svg class="svg" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-instagram"></use></svg>
          <span class="label">Instagram</span>
        </a>
      </li>
      {% endif %}
      {% if site.author.github %}
      <li>
        <a rel="me" href="//github.com/{{ site.author.github }}">
          <svg class="svg" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-github"></use></svg>
          <span class="label">GitHub</span>
        </a>
      </li>
      {% endif %}
      {% if site.author.facebook %}
      <li>
        <a rel="me" href="//facebook.com/{{ site.author.facebook }}">
          <svg class="svg" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-facebook-f"></use></svg>
          <span class="label">Facebook</span>
        </a>
      </li>
      {% endif %}
    </ul>

    {%- if site.author -%}
      {%- assign site_author = site.author.name | default: site.author -%}
    {%- endif -%}
    {%- if site_author -%}
      {%- assign site_author = site_author | smartify | strip_html | strip_newlines | escape_once -%}
    {%- endif -%}

    {%- assign site_title = site.title | default: site.name -%}
    {%- if site_title -%}
      {%- assign site_title = site_title | smartify | strip_html | strip_newlines | escape_once -%}
    {%- endif -%}
    <p class="site-footer-legal"><svg class="icon icon-copyright" aria-label="copyright" role="img"><use xlink:href="{{ site.icon_path }}#icon-copyright"></use></svg>&nbsp;<span itemprop="copyrightYear">{{ site.time | date: '%Y' }}</span>&nbsp;{% if site.author %}<span itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ site_author }}</span></span>{% else %}{{ site_title }}{% endif %}<span>.</span>&nbsp;<svg class="icon icon-pencil-alt" aria-label="made" role="img"><use xlink:href="{{ site.icon_path }}#icon-pencil-alt"></use></svg>&nbsp;<span>with</span>&nbsp;<svg class="icon icon-heart" aria-label="love" role="img"><use xlink:href="{{ site.icon_path }}#icon-heart"></use></svg>&nbsp;<span>&amp;</span>&nbsp;<svg class="icon icon-coffee" aria-label="coffee" role="img"><use xlink:href="{{ site.icon_path }}#icon-coffee"></use></svg>&nbsp;<span>in</span>&nbsp;<span>Nepal</span><span>.</span></p>
  </div><!-- /.container -->
</footer>
