{%- if site.url -%}
  {%- assign site_url = site.url | append: site.baseurl -%}
{%- endif -%}
{%- assign site_url = site_url | default: site.github.url -%}

{%- if page.url -%}
 {%- assign page_url = page.url | replace:'/index.html','/' | prepend: site_url | uri_escape -%}
{%- endif -%}

{%- if page.title -%}
  {%- assign page_title = page.title | smartify | strip_html | strip_newlines | uri_escape -%}
{%- endif -%}

{%- capture twitter_share_link -%}//twitter.com/intent/tweet?url={{ page_url }}&text={{ page_title }}{%- if site.author.twitter -%}&via={{ site.author.twitter }}{%- endif -%}{%- endcapture -%}
{%- if twitter_share_link -%}
  {%- assign twitter_share_link = twitter_share_link | escape_once -%}
{%- endif -%}

{%- capture facebook_share_link -%}//www.facebook.com/sharer/sharer.php?u={{ page_url }}&t={{ page_title }}{%- endcapture -%}
{%- if facebook_share_link -%}
  {%- assign facebook_share_link = facebook_share_link | escape_once -%}
{%- endif -%}

{%- capture linkedin_share_link -%}//www.linkedin.com/shareArticle?mini=true&url={{ page_url }}&title={{ page_title }}{%- endcapture -%}
{%- if linkedin_share_link -%}
  {%- assign linkedin_share_link = linkedin_share_link | escape_once -%}
{%- endif -%}

{%- capture pinterest_share_link -%}//pinterest.com/pin/create/button/?url={{ page_url }}&description={{ page_title }}{%- endcapture -%}
{%- if pinterest_share_link -%}
  {%- assign pinterest_share_link = pinterest_share_link | escape_once -%}
{%- endif -%}

{%- capture telegram_share_link -%}//t.me/share/url?url={{ page_url }}&text={{ page_title }}{%- endcapture -%}
{%- if telegram_share_link -%}
  {%- assign telegram_share_link = telegram_share_link | escape_once -%}
{%- endif -%}

{%- capture email_share_link -%}mailto:?subject={{ page_title }}&body={{ page_url }}{%- endcapture -%}
{%- if email_share_link -%}
  {%- assign email_share_link = email_share_link | escape_once -%}
{%- endif -%}

<ul class="socialShare clearfix">
  <li class="socialShare-lead">Share on:</li>
  <li>
    <a class="btn btn-socialShare socialShare-popup" href="{{ twitter_share_link }}" target="_blank" role="button" data-proofer-ignore="true">
      <svg class="icon icon-twitter" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-twitter"></use></svg><span class="label">Twitter</span>
    </a>
  </li>
  <li>
    <a class="btn btn-socialShare socialShare-popup" href="{{ facebook_share_link }}" target="_blank" role="button" data-proofer-ignore="true">
      <svg class="icon icon-facebook" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-facebook"></use></svg><span class="label">Facebook</span>
    </a>
  </li>
  <li>
    <a class="btn btn-socialShare socialShare-popup" href="{{ linkedin_share_link }}" target="_blank" role="button" data-proofer-ignore="true">
      <svg class="icon icon-linkedin" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-linkedin"></use></svg><span class="label">LinkedIn</span>
    </a>
  </li><!--
  <li>
    <a class="btn btn-socialShare socialShare-popup" href="{{ pinterest_share_link }}" target="_blank" role="button" data-proofer-ignore="true">
      <svg class="icon icon-pinterest" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-pinterest"></use></svg><span class="label">Pinterest</span>
    </a>
  </li>
--><li>
    <a class="btn btn-socialShare socialShare-popup" href="{{ telegram_share_link }}" target="_blank" role="button" data-proofer-ignore="true">
      <svg class="icon icon-telegram" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-telegram"></use></svg><span class="label">Telegram</span>
    </a>
  </li>
  <li>
    <a class="btn btn-socialShare" href="{{ email_share_link }}" role="button" data-proofer-ignore="true">
      <svg class="icon icon-envelope" aria-hidden="true"><use xlink:href="{{ site.icon_path }}#icon-envelope"></use></svg><span class="label">Email</span>
    </a>
  </li>
</ul>
