                <ul class="list-inline text-center">
                    <li>
                        <a rel="me" href="//twitter.com/MilanAryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-twitter fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//facebook.com/considermilan">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-facebook fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a rel="me" href="//google.com/+MilanAryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-google-plus fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="http://linkedin.com/in/MilanAryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-linkedin fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a rel="me" href="//github.com/MilanAryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-github fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//pinterest.com/milanaryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-pinterest fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//instagram.com/milanaryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-instagram fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//vine.com/MilanAryal">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-vine fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//milanaryal.tumblr.com">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-tumblr fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
                </ul>