<ul class="social-container list-inline text-center">
  <li>
    <a class="social-share fa-3x" href="https://twitter.com/share?text={{ page.title | markdownify | strip_html | strip_newlines | replace:'&#147;','' | replace:'&#148;','' | cgi_escape }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url | uri_escape }}&amp;via={{ site.author.twitter }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Share on Twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
</ul>
