---
layout: default
---

<!-- Page -->
<main class="page{%if page.permalink %} page-{{ page.permalink | slugify }}{% endif %}" id="main" role="main">

  {% include minimal_masthead.html %}

  <!-- Page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">

        <div class="page-content markdown-body clearfix">

          {{ content }}

          <p class="site-footer-legal user-select-none" style="text-align: center; padding: 50px 0 0"><!--

          -->{% include icons/heart.svg width="1em" height="1em" class="icon icon-heart animate--heartbeat" aria-label="love" title="love" %}<!--

          --></p>

        </div> <!-- /.page-content -->

      </div>
    </div>
  </div>

</main><!-- /.page -->
