---
layout: default
---

{%- include reading_time.html content=page.content -%}

{%- if page.url -%}
  {%- assign page_url = page.url | replace:'/index.html','/' | relative_url -%}
{%- endif -%}

{%- if page.title -%}
  {%- assign page_title = page.title | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- if page.image and page.image != empty -%}
  {%- assign page_image = page.image.path | default: page.image -%}
  {%- unless page_image contains "://" -%}
    {%- assign page_image = page_image | relative_url -%}
  {%- endunless -%}
  {%- assign page_image = page_image | escape -%}
{%- endif -%}

{%- if page.date -%}
  {%- assign date_published = page.date | date_to_xmlschema -%}
  {%- assign date_modified = page.last_modified_at | default: page.date -%}
  {%- if date_modified -%}
    {%- assign date_modified = date_modified | date_to_xmlschema -%}
  {%- endif -%}
{%- endif -%}

{%- if page.video and page.video != empty -%}
  {%- capture page_video -%}
    https://www.youtube-nocookie.com/embed/{{ page.video.id | default: page.video }}?modestbranding=1&amp;rel=0
  {%- endcapture -%}
  {%- assign page_video = page_video | strip | escape_once -%}
  {%- if page.video.caption -%}
    {%- assign video_caption = page.video.caption | smartify | strip_html | normalize_whitespace | escape_once -%}
  {%- endif -%}
{%- endif -%}

<main id="main" role="main">
  <!-- Post -->
  <article class="post post-{{ page.id | slugify }} entry h-entry" id="post-{{ page.id | slugify }}">

    <!-- Post header -->
    <header class="post-masthead">
      <!-- #############% -->
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">

            <!-- Post meta -->
            <div class="post-meta">
              <a class="u-url u-uid" rel="bookmark" href="{{ page_url }}"><time datetime="{{ date_published }}"{% if page.last_modified_at %} data-bs-toggle="tooltip" data-bs-placement="top" title="Updated {{ date_modified | date: '%b %-d, %Y' }}"{% endif %}>{{ date_published | date: '%b %-d, %Y' }}</time></a><!--
              --> &middot; <!--
              --><span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ total_words }}">{{ reading_time }}</span>
            </div><!-- /.post-meta -->

            <!-- Post title -->
            <h1 class="post-title entry-title p-name">{{ page_title }}</h1>

            {% comment %}
            <!-- https://microformats.org/wiki/h-entry -->
            {% endcomment %}
            {% assign page_summary = page.description | default: page.excerpt %}
            {% if page_summary and page_summary != empty %}
              <p style="display: none;" class="entry-summary p-summary">{{ page_summary | markdownify | strip_html | normalize_whitespace | truncate: 160 | escape_once }}</p>
            {% endif %}

          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <!-- %############# -->

      {% if page_image or page_video %}
      <!-- Post header lead content -->
      <div class="container gx-0 post-lead">
        <div class="post-lead-content">
          <!-- Post header lead image -->
          {% if page_image %}
            {%- if page.image.caption -%}
              {%- assign image_caption = page.image.caption | smartify | strip_html | normalize_whitespace | escape_once -%}
            {%- endif -%}
            {%- assign image_alternative_text = image_caption | default: page_title -%}
              <img class="post-lead-img img-fluid" src="{{ page_image }}" alt="{{ image_alternative_text }}"{% if page.image.width %} width="{{ page.image.width }}"{% endif %}{% if page.image.height %} height="{{ page.image.height }}"{% endif %} />
            {% if image_caption %}
              <div class="post-lead-caption">{{ image_caption }}</div>
            {% endif %}
          {% endif %}
          <!-- Post header lead video -->
          {% if page_video %}
            <!-- 16:9 aspect ratio -->
            <div class="ratio ratio-16x9">
              <iframe width="853" height="480" src="{{ page_video }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; fullscreen; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
            </div>
            {% if video_caption %}
              <div class="post-lead-caption">{{ video_caption }}</div>
            {% endif %}
          {% endif %}
        </div><!-- /.post-lead-content -->
      </div><!-- /.container -->
      {% endif %}

    </header><!-- /.postHeader -->

    <!-- Post content -->
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="post-content markdown-body clearfix post-body entry-body entry-content e-content">
            {{ content }}
          </div><!-- /.post-content -->
        </div><!-- /.col-* -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- Post footer -->
    <footer class="post-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">

            <!-- Post last modified date meta -->
            {% if page.last_modified_at %}
              <div class="post-modified">Last modified at <time datetime="{{ date_modified }}">{{ date_modified | date: '%b %-d, %Y' }}</time></div>
            {% endif %}<!-- /.post-modified -->

            <div class="post-footer-meta-acknowledgments" about="{{ page_url }}">
              <a href="/fine-print/#license" data-bs-toggle="tooltip" data-bs-placement="top" title="Except where otherwise noted, this work is licensed under a Creative Commons Attribution 4.0 International license by the author.">Some rights reserved</a><!--

              -->{% include_cached icons/creative-commons-by.svg width="21" height="21" class="icon icon-creative-commons-by" title="You can distribute, remix, and build upon this work as long as you credit the author." %}
            </div><!-- /.post-footer-meta-acknowledgments -->

            {% comment %}
              <!-- https://microformats.org/wiki/h-entry -->
            {% endcomment %}

            {%- assign page_author = page.author.name | default: page.author | default: site.author.name | default: site.author %}
            {%- if page_author -%}
              {%- assign page_author = page_author | smartify | strip_html | normalize_whitespace | escape_once -%}
            {%- endif -%}

            {%- if page.author -%}
              {%- assign author_avatar = page.author.avatar | default: site.logo -%}
            {%- else -%}
              {%- assign author_avatar = site.author.avatar | default: site.logo -%}
            {%- endif -%}

            {%- if page.date -%}
              {%- capture full_date_published -%}
                {{ date_published | date: '%a, %b %-d, %Y' }} at {{ date_published| date: '%-I:%M%P %Z' }}
              {%- endcapture -%}

              {%- capture full_date_modified -%}
                {{ date_modified | date: '%a, %b %-d, %Y' }} at {{ date_modified | date: '%-I:%M%P %Z' }}
              {%- endcapture -%}
            {%- endif -%}
            <p style="display: none;">Written by <span class="p-author h-card"><img style="display: none;" class="u-photo" src="{{ site.author.avatar }}" alt="{{ page_author }}'s profile image" /> <a class="p-name u-url" href="{{ '/' | relative_url }}">{{ site.author.name }}</a></span> on <time class="published dt-published" datetime="{{ date_published }}">{{ full_date_published }}</time>, and last updated on <time class="updated dt-updated" datetime="{{ date_modified }}">{{ full_date_modified }}</time>.</p>

          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </footer><!-- /.post-footer -->

  </article><!-- /.post -->
</main>

<!-- Post footer section -->
<div class="container post-footer-section">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">

      <!-- Share buttons -->
      {% include social_share.html %}

      <!-- Author card -->
      {% unless page.author %}
        {%- assign site_author = site.author.name | default: site.author | default: site.title | default: site.name -%}
        {%- if site_author -%}
          {%- assign site_author = site_author | smartify | strip_html | normalize_whitespace | escape_once -%}
        {%- endif -%}

        {%- assign site_author_bio = site.author.bio | default: site.description -%}
        {%- if site_author_bio -%}
          {%- assign site_author_bio = site_author_bio | smartify | strip_html | normalize_whitespace | truncate: 160 | escape_once -%}
        {%- endif -%}

        {%- assign site_author_avatar = site.author.avatar | default: site.logo.path | default: site.logo -%}
        {%- if site_author_avatar -%}
          {%- assign site_author_avatar = site_author_avatar | escape -%}
        {%- endif -%}

        <div class="post-author-card d-flex align-items-center">
          <div class="post-author-card-avatar user-select-none">
            <a class="d-block" href="{{ '/' | relative_url }}">
              <img class="d-inline-block img-fluid" src="{{ site_author_avatar }}" width="80" height="80" alt="{{ site_author }}" />
            </a>
          </div><!-- /.post-author-card-avatar -->
          <div class="post-author-card-body">
            <h4 class="post-author-card-title">
              <a href="{{ '/' | relative_url }}">{{ site_author }}</a>
            </h4>
            <p class="post-author-card-text">{{ site_author_bio }}</p>
          </div><!-- /.post-author-card-body -->
        </div><!-- /.post-author-card -->

        {% unless site.disqus_shortname and page.comments != 'false' %}
          <hr class="rule" />
        {% endunless %}
      {% endunless %}

      <!-- Disqus -->
      {% if site.disqus_shortname and page.comments != "false" %}
        {% include disqus_thread.html class="comments mb-5 pb-4 d-print-none clearfix" %}
      {% endif %}
    </div><!-- /.col-* -->
  </div><!-- /.row -->
</div><!-- /.container -->

<!-- Pager -->
<nav class="post-pager{% unless site.disqus_shortname and page.comments != 'false' %} mt-5{% endunless %} d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">

        {% if page.previous.url %}
        <div class="post-pager-previous float-start text-start">
          <div class="post-pager-title">
            {% include_cached icons/angle-left.svg width="1em" height="1em" class="icon icon-angle-left" %}<!--
            -->&nbsp;Previous<span class="d-none d-md-inline"> post</span>
          </div>
          <a rel="prev" href="{{ page.previous.url | relative_url }}">
            {{ page.previous.title | smartify | strip_html | normalize_whitespace | escape_once }}
          </a>
        </div>
        {% endif %}

        {% if page.next.url %}
        <div class="post-pager-next float-end text-end">
          <div class="post-pager-title">Next<span class="d-none d-md-inline"> post</span><!--
          -->&nbsp;{% include_cached icons/angle-right.svg width="1em" height="1em" class="icon icon-angle-right" %}
          </div>
          <a rel="next" href="{{ page.next.url | relative_url }}">
            {{ page.next.title | smartify | strip_html | normalize_whitespace | escape_once }}
          </a>
        </div>
        {% endif %}

      </div><!-- /.col-* -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</nav><!-- /.post-pager -->

<!-- Random posts -->
<div class="random-posts d-print-none" hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">

        <h4 class="random-posts-heading">Also read</h4>

        <div id="random-posts"></div>

        <div class="random-posts-footer user-select-none">
          <a class="btn btn-outline-default btn--random" href="{{ 'random/' | relative_url }}" role="button">
            {% include_cached icons/random.svg width="1em" height="1em" class="icon icon-random p-1px" %}<!--
            -->&nbsp;<span class="label">Random</span>
          </a><!--

          -->&nbsp;<!--

          --><a class="btn btn-outline-default btn--archive" href="{{ 'archive/' | relative_url }}" role="button">
            {% include_cached icons/archive.svg width="1em" height="1em" class="icon icon-archive p-1px" %}<!--
            -->&nbsp;<span class="label">Archive</span>
          </a>
        </div>

      </div><!-- /.col-* -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.random-posts -->

<!-- Elevator - scroll back to top button -->
<div id="elevator" class="elevator d-none d-sm-block d-print-none user-select-none" hidden="true" aria-hidden="true">
  <span class="elevator-button" role="button">
    {% include_cached icons/arrow-up.svg width="1em" height="1em" class="icon icon-arrow-up" %}
  </span>
</div>
