// ==============================================
// Markdown body
// ==============================================


.markdown-body {
  overflow: hidden;
  word-wrap: break-word;
  letter-spacing: .01rem;
  // font-weight: 400;
  // font-style: normal;
  // font-size: 20px;
  line-height: 1.5;

  > *:first-child {
    margin-top: 30px !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  a {
    text-decoration: underline;
  }

  h2, h3, h4, h5, h6 {
    margin-top: (@m-margin + 10); // ~40px
    margin-bottom: (@m-margin / 2); // ~15px
    // font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  h3 + h4 {
    // margin-top: -3px;
    margin-top: ((@m-margin / 2) + 5); // ~20px
  }

  h2, h3 {
    font-weight: 700;
  }

  h4, h5, h6 {
    font-weight: 300;
    color: @gray-light;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5, h6 {
    font-size: 28px;
  }

  //  List
  // ======================
  &> ul,
  &> ol {
    padding: 0;
    list-style: none;
    list-style-image: none;
    counter-reset: list;
    // margin-bottom: @m-margin;
  }

  &> ul > li,
  &> ol > li {
    // margin-left: 30px;
    margin-bottom: 12px;
    padding-top: 2px;
  }

  &> ul > li:before,
  &> ol > li:before {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 58px;
    margin-left: -58px;
    text-align: right;
  }

  &> ul > li:before {
    padding-top: 6px;
    padding-right: 15px;
    font-size: 14.3px;
    content: "\2022"; // "•"
  }

  &> ol > li:before {
    padding-right: 12px;
    counter-increment: list;
    content: counter(list) "\002E"; // "."
  }

  p,
  blockquote,
  ul, ol, dl,
  .table-responsive,
  pre,
  figure {
    // margin-top: 0;
    margin-bottom: @m-margin;
  }

  // h2 + figure,
  // h3 + figure,
  // h4 + figure {
  //  margin-top: 15px;
  // }

  figcaption {
    display: block;
    margin: 0;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
    color: @gray-light;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  blockquote,
  figcaption {
    a {
      text-decoration: underline;
      color: inherit; // parent color for link
      &:hover,
      &:focus {
        color: @m-brand-primary;
      }
    }
  }

  .lead {
    margin-bottom: (@m-margin + 10); // ~40px
    font-size: 24px;
    // font-weight: 300;
    line-height: 1.4;
    font-style: italic;
  }
  @media (min-width: 768px) {
    .lead {
      font-size: 28px;
    }
  }

  .alert {
    border: 0;
    font-size: 18px;
    h4 {
      margin: 0 0 10px;
      font-size: 24px;
      color: inherit;
    }
    > p,
    > ul {
      margin: 0;
    }
    > p + p {
      margin-top: 10px;
    }
    hr {
      margin: 20px auto;
      border-top-color: inherit;
    }
  }

  hr {
    display: block;
    max-width: 100px;
    margin: 51px auto 41px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

} // .markdown-body


// GitHub Pages and Markdown
// -------------------------------

// Emoji
.emoji {
  display: inline-block;
  max-width: none;
}

// Footnotes
.footnotes {
  margin: @m-margin 0;
  font-size: 16px;

  &:before { // footer heading
    display: block;
    margin-bottom: (@m-margin - 20); // ~10px
    content: 'Footnotes';
    font-weight: 700;
    .m-sans-serif;
  }

  ol {
    margin: 0;

    padding: 0;
    list-style: none;
    list-style-image: none;
    counter-reset: list;

   &> li {
      // margin-left: 30px;
      // margin-bottom: 12px;
      // padding-top: 2px;
      margin-bottom: 5px;
    }

    &> li:last-child {
      margin-bottom: 0 !important;
    }

    &> li:before {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      width: 58px;
      margin-left: -58px;
      text-align: right;
    }

    &> li:before {
      padding-right: 12px;
      counter-increment: list;
      content: counter(list) "\002E"; // "."
    }
  } // ./ol

  p {
    margin: 0;
  }

  li {
    margin-bottom: (@m-margin - 20); // ~10px
  }

} // ./footnotes

// Footnotes anchor link
.footnote,
.reversefootnote {
  text-decoration: none !important; // do not underline
}
