// Mixins

.transition-all() {
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
          transition: all 0.5s;
}

.background-cover() {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.anchor-transition() {
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.serif() {
  font-family: 'Lora', Georgia, 'Times New Roman', serif;
}

.sans-serif() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
