// Variables

@brand-primary: #0084B4; // alternative #0085A1
@gray-dark: lighten(black, 25%); // #404040
@gray: lighten(black, 50%); // #808080
@gray-light: lighten(black, 93.5%); // #eee
@white-faded: fade(white, 80%); // rgba(255, 255, 255, 0.8)
