feed {
  display:block;
  font-family:verdana,sans-serif;
  margin:2%;
  font-size:90%;
  color:#000;
  background:#fff;
}

title {
  display:block;
  font-size:1.3em;
  color:inherit;
  background:inherit;
  font-weight:700;
}

subtitle,link,rights {
  display:block;
  font-size:.9em;
}

rights:after {
  display:block;
  margin:3em 4em;
  color:#C33;
  background:#FF6;
  border:solid #CC6 2px;
  text-align:center;
  padding:1.5em;
  font-family:monospace;
  font-size:1em;
  content:"This is an Atom formatted XML site feed. It is intended to be viewed in a Newsreader or syndicated to another site.";
}

feed updated,feed author name,uri,email,id,icon,generator,convertLineBreaks {
  display:none;
}

entry {
  display:block;
  color:inherit;
  background:inherit;
  padding:0;
  margin:1em 1em 4em;
}

entry updated,entry author name {
  display:inline;
  color:#999;
  background:inherit;
  font-size:.8em;
}

entry updated {
  padding-left:1.25em;
}

entry published,entry id,entry draft {
  display:none;
}

entry title {
  display:block;
  font-size:1em;
  font-weight:700;
  color:inherit;
  background:inherit;
  padding:1em 1em 0;
  margin:0;
  border-top:solid 1px #ddd;
}

content {
  display:block;
  font-size:.9em;
  color:inherit;
  background:inherit;
  padding:1em;
  line-height:1.5em;
  word-wrap:break-word;
}
