feed {
  display:block;
  font-family:sans-serif;
  margin:2%;
  font-size:90%;
  color:#000000;
  background:#ffffff;
}

title {
  display:block;
  font-size:1.3em;
  color:inherit;
  background:inherit;
  font-weight:bold;
}

subtitle, link, rights {
  display:block;
  font-size:0.9em;
}

feed updated, feed author name, uri, email, id, icon, generator, convertLineBreaks {
  display:none;
}

generator:after {
  display:block;
  margin:3em 4em 3em 4em;
  color:#CC3333;
  background:#FFFF66;
  border:solid #CCCC66 2px;
  text-align:center;
  padding:1.5em;
  font-family:mono;
  font-size:0.8em;
  content:"This is an Atom formatted XML site feed. It is intended to be viewed in a Newsreader or syndicated to another site.";
}

entry {
  display:block;
  color:inherit;
  background:inherit;
  padding:0;
  margin:1em 1em 4em 1em;
}

entry updated, entry author name {
  display:inline;
  color:#999999;
  background:inherit;
  padding:0em 1em;
  font-size:0.8em;
}

entry published, entry id, entry draft {
  display:none;
}

entry title {
  display:block;
  font-size:1em;
  font-weight:bold;
  color:inherit;
  background:inherit;
  padding:1em 1em 0em 1em;
  margin:0;
  border-top:solid 1px #dddddd;
}

content {
  display:block;
  font-size:0.9em;
  color:inherit;
  background:inherit;
  padding:1em;
  line-height:1.5em;
  word-wrap:break-word;
}
