@import url(default.css);

h1 {
	margin-top: 30px;
	font-size: 32px;
}

h2 {
	margin-top: 25px;
	font-size: 28px;
}

#post-info {
	width: 90%;
	left: 5%;
	margin-left: 0px;
	bottom: 100px;
}

#post-info h1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
}

#home-title {
	width: 100%;
	margin-left: -50%;
}

#article {
	width: 90%;
	padding: 50px 5%;
	left: 0px;
	margin-left: 0px;
}

#bg-video {
	display: none;
}

#bg-video-pattern {
	display: none;
}

.menu {
	background-color: rgba(119, 119, 119, 1);
	position: absolute;
}

.menu-content {
	position: absolute;
}

.pagination, #post-list {
	width: 90%;
	padding: 0px 5%;
	left: 0px;
	margin-left: 0px;
}

.pagination {
	padding-top: 30px;
}

.older-posts, .newer-posts {
	visibility: hidden;
	margin: -5px 5%;
}

.older-posts:after {
	visibility: visible;
	font-size: 22px;
	content: "→";
}

.newer-posts:before {
	visibility: visible;
	font-size: 22px;
	content: "←";
}

.copyright {
	width: 100%;
	text-align: center;
	float: left;
}
