// Mixins
//
// Custom mixins for the theme.

@mixin theme-anchor-transition() {
  transition: all 200ms ease;
}

@mixin theme-btn-social-share() {
  color: var(--body-secondary-color); // rgba(0, 0, 0, .6);
  background-color: var(--section-divider-secondary); // rgba(0, 0, 0, .05);

  &:focus,
  &:hover {
    color: var(--body-secondary-color); // rgba(0, 0, 0, .6);
    background-color: var(--section-divider); // rgba(0, 0, 0, .1);
  }
}

@mixin theme-mask-image() {
  mask-image: url("/assets/img/dust-and-scratches.png");
}
