---
title: "Blog"
tagline: "The personal weblog."
description: "The personal weblog writeup about stock market, positive living, and front-end web development (to help build a better web)."
layout: page
blog: true
redirect_from: "/writings/"
---

<div class="clearfix">
{% for post in paginator.posts %}

  {%- include reading_time.html -%}

  {%- if post.title -%}
    {%- assign post_title = post.title | smartify | strip_html | normalize_whitespace | escape_once -%}
  {%- endif -%}

  {%- if post.url -%}
    {%- assign post_url = post.url | replace:'/index.html','/' | relative_url -%}
  {%- endif -%}

  {%- if post.excerpt and post.excerpt != empty -%}
    {%- assign post_excerpt = post.excerpt | markdownify | strip_html | normalize_whitespace | truncate: 160 | escape_once -%}
  {%- endif -%}

  {%- comment -%}### POST_AUTHOR ###{%- endcomment -%}
  {%- assign author = page.author.name | default: page.author | default: site.author.name | default: site.author %}
  {%- if author -%}
    {%- assign author = author | smartify | strip_html | normalize_whitespace | escape_once -%}
  {%- endif -%}
  {%- if author -%}
    {%- capture post_author -%}
      <span style="display: none;">Written by <a class="p-author h-card" href="{{ '/' | relative_url }}">{{ author }}</a> on <!-- --></span>
    {%- endcapture -%}
  {%- endif -%}
  {%- comment -%}### POST_MODIFIED ###{%- endcomment -%}
  {%- if post.last_modified_at -%}
    {%- capture post_modified -%}
      <span style="display: none;"> &middot; Last updated <time style="display: none;" class="dt-dt-updated" datetime="{{ post.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date: '%b %-d, %Y' }}</time></span>
    {%- endcapture -%}
  {%- endif -%}

  <article class="post-preview clearfix h-entry">
    <div class="post-preview-meta">
      {{ post_author }}<a href="{{ post_url }}"><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}"{% if post.last_modified_at %} data-toggle="tooltip" data-placement="top" title="Updated {{ post.last_modified_at | date: '%b %-d, %Y' }}"{% endif %}>{{ post.date | date: '%b %-d, %Y' }}</time></a>{% if post_modified %}{{ post_modified }}{% endif %}<!--
      --> &middot; <!--
      --><span data-toggle="tooltip" data-placement="top" title="{{ total_words }}">{{ reading_time }}</span>
    </div>

    <a class="u-url" href="{{ post_url }}">
      <h2 class="post-preview-title p-name">{{ post_title }}</h2>
      {% if post_excerpt %}
        <p class="post-preview-excerpt p-summary">{{ post_excerpt }}</p>
      {% endif %}
    </a>
  </article><!-- /.post-preview -->

{% endfor %}
</div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}

<nav class="pager clearfix">

  {% unless paginator.page > 1 %}
  <a class="btn btn-outline-default btn--archive float-left" href="{{ '/archive/' | relative_url }}" role="button"><svg  class="icon icon-archive" width="1em" height="1em" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z"/></svg> Archive</a>
  {% endunless %}

  {% if paginator.previous_page %}
  <a class="btn btn-outline-default float-left" href="{{ paginator.previous_page_path | relative_url }}" role="button"><svg class="icon icon-angle-left" width="1em" height="1em" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg> Newer</a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-outline-default float-right" href="{{ paginator.next_page_path | relative_url }}" role="button">Older </span><svg class="icon icon-angle-right" width="1em" height="1em" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg></a>
  {% endif %}

</nav>

{% endif %}
