---
layout: default
---

<main role="main" itemprop="mainContentOfPage">
  <article class="page-content">
    <!-- Archive page header -->
    <header class="intro-header" style="background-image: url('{% if page.featured_image %}{{ page.featured_image }}{% else %}{{ site.featured_image }}{% endif %}')">
      <div class="dark-background">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                <h1 class="page-title" itemprop="name">{% if page.title %}{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}</h1>
                <hr class="intro-divider">
                <span class="page-description" itemprop="description">{% if page.description %}{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.description | markdownify | strip_html | strip_newlines | escape_once }}{% endif %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Archive page content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ content }}
        </div>
      </div>
    </div>
  </article>
</main>

{% include footer.html %}
