<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
        {% for item in site.menu %}
        <ul class="nav"><li><a href="{{ item.url }}">{{ item.title }}</a></li></ul>
        {% endfor %}
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.title }}. MIT licensed.
        </small>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
<!-- Proudly Hosted on GitHub | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->
