---
layout: default
---

<article>
  <!-- Page header -->
  <header class="intro-header" style="background-image: url('{% if page.featured_image %}{{ page.featured_image }}{% else %}{{ site.featured_image }}{% endif %}')">
    <div class="dark-background">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1 itemprop="name">{% if page.title %}{{ page.title | markdownify | strip_html | strip_newlines }}{% else %}{{ site.name }}{% endif %}</h1>
              <hr class="small">
              <span class="subheading" itemprop="description">{% if page.description %}{{ page.description | markdownify | strip_html | strip_newlines }}{% else %}{{ site.description | markdownify | strip_html | strip_newlines }}{% endif %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="markdown-body clearfix">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [
    {
      "@type": "ListItem",
      "position": 1,
      "item":
      {
        "@id": "{{ site.url }}/",
        "name": "Home"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item":
      {
        "@id": "{{ site.url }}/docs/",
        "name": "Docs"
      }
    }
  ]
}
</script>
