---
layout: compress
---

<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title | markdownify | strip_html | strip_newlines }} &mdash; {{ site.name }}</title>
    {% if page.robots %}<meta name="robots" content="{{ page.robots }}">{% endif %}
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="stylesheet" href="/assets/css/styles.min.css?v={{ site.github.build_revision }}">
    <script>(function(){"use strict";var a=document.getElementsByTagName("head")[0],b=document.createElement("link");b.rel="stylesheet",b.href="\/assets\/css\/fonts.min.css\?v\={{ site.github.build_revision }}",a.appendChild(b)})();</script>

  </head>

  <body>

    {{ content }}

    {% include scripts.html %}

  </body>

</html><!--# Generated {{ site.time | date_to_xmlschema }} | Revision {{ site.github.build_revision }} #-->
