---
layout: default
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}">
<div class="background-image" style="background-image:url({{ site.cover }}); height:100%;"></div>
	{% if page.video %}
		<video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			{% if page.video_webm %}<source src="{{ page.video_webm }}" type="video/webm">{% endif %}
			{% if page.video_ogv %}<source src="{{ page.video_ogv }}" type="video/ogg ogv">{% endif %}
			{% if page.video_mp4 %}<source src="{{ page.video_mp4 }}" type="video/mp4">{% endif %}
		</video>
		{% if page.video_pattern %}<div id="bg-video-pattern"></div>{% endif %}
	{% endif %}

	{{ content }}

</header>