---
layout: default
---

{% include metadata.html %}

<main role="main" itemprop="mainContentOfPage">

  <!-- Post article -->
  <article class="postArticle" itemscope itemtype="https://schema.org/Article">

    <!-- Post header -->
    <header class="postHeader">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

            <meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage" itemid="{{ page_url }}">

            <!-- Post meta -->
            <div class="postHeader-meta">
              <time itemprop="datePublished" datetime="{{ date_published }}"{% if page.last_modified_at %} data-toggle="tooltip" data-placement="top" title="Updated {{ page.last_modified_at | date: '%b %-d, %Y' }}"{% endif %}>{{ page.date | date: '%b %-d, %Y' }}</time><span class="middotDivider"></span><span data-toggle="tooltip" data-placement="top" title="{{ content | strip_html | number_of_words | append:' words'}}">{{ reading_time }}</span>
            </div><!-- /.post-meta -->

            <meta itemprop="dateModified" content="{{ date_modified }}">

            <!-- Post title -->
            <h1 class="postHeader-title" itemprop="headline">{{ page_title }}</h1>

            <link itemprop="url" rel="bookmark" href="{{ page_url }}">

            <span class="hidden" itemprop="author" itemscope itemtype="https://schema.org/Person">
              <meta itemprop="name" content="{{ page_author }}">
            </span>

            <meta itemprop="description" content="{{ page_description }}">

            <span class="hidden" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
              {% if page_image %}
                <link itemprop="url" href="{{ page_image }}">
                {% if page.image.width %}
                  <meta itemprop="width" content="{{ page.image.width }}">
                {% endif %}
                {% if page.image.height %}
                  <meta itemprop="height" content="{{ page.image.height }}">
                {% endif %}
              {% else %}
                <link itemprop="url" href="{{ site_logo }}">
                {% if site.logo.width %}
                  <meta itemprop="width" content="{{ site.logo.width }}">
                {% endif %}
                {% if site.logo.height %}
                  <meta itemprop="height" content="{{ site.logo.height }}">
                {% endif %}
              {% endif %}
            </span>

            <span class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
              <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url" href="{{ site_logo }}">
                {% if site.logo.width %}
                  <meta itemprop="width" content="{{ site.logo.width }}">
                {% endif %}
                {% if site.logo.height %}
                  <meta itemprop="height" content="{{ site.logo.height }}">
                {% endif %}
              </span>
              <meta itemprop="name" content="{{ site_title }}">
            </span>

          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->

      <!-- Post header lead content -->
      {% if page_image or page.video %}
      <div class="container postHeader-lead">
        <div class="row no-gutter">
          <div class="col-xs-12">

            <figure class="postHeader-leadFigure">
              <!-- Post header lead image -->
              {% if page_image %}
                {% if page.image.caption %}
                  {% assign image_alternative_text = page.image.caption | smartify | strip_html | strip_newlines | escape_once %}
                {% else %}
                  {% assign image_alternative_text = page_title %}
                {% endif %}
                <div class="pil" style="{% if page.image.width %}max-width: {{ page.image.width }}px;{% endif %}{% if page.image.height %}max-height: {{ page.image.height }}px;{% endif %}">
                  <img class="postHeader-leadFigureImage img-responsive" src="{{ page_image }}" alt="{{ image_alternative_text }}"{% if page.image.width %} width="{{ page.image.width }}"{% endif %}{% if page.image.height %} height="{{ page.image.height }}"{% endif %}{% if page.image.width %} data-full-width="{{ page.image.width }}"{% endif %}{% if page.image.height %} data-full-height="{{ page.image.height }}"{% endif %}>
                </div>
                {% if page.image.caption %}
                  <figcaption class="postHeader-leadFigcaption">{{ page.image.caption }}</figcaption>
                {% endif %}
              {% endif %}

              <!-- Post header lead video -->
              {% if page.video %}
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{ page.video.path | default: page.video }}"></iframe>
                </div>
                {% if page.video.caption %}
                  <figcaption class="postHeader-leadFigcaption">{{ page.video.caption }}</figcaption>
                {% endif %}
              {% endif %}
            </figure>
          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      {% endif %}

    </header><!-- /.postHeader -->

    <!-- Post body -->
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="postBody markdownBody clearfix" itemprop="articleBody">
            {{ content }}
          </div><!-- /.postBody -->
        </div><!-- /.col-* -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- Post footer -->
    <footer class="postFooter">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="postFooter-metaAcknowledgments" about="{{ page_url }}">
              <a href="//creativecommons.org/licenses/by/4.0/" rel="nofollow" target="_blank" data-toggle="tooltip" data-placement="top" title="Except where otherwise noted, this work is licensed under a Creative Commons Attribution 4.0 International license.">Some rights reserved</a> by {% if page.author and page.author != empty %}{{ page_author }}{% else %}the author{% endif %}. <span title="You can distribute, remix, and build upon this work as long as you credit the author."><i class="fa fa-creative-commons"></i></span>
              <div class="hidden">Except as otherwise <a href="{{ site_url }}/fine-print/#license">noted</a>, the content of <a rel="cc:attributionURL" href="{{ page_url }}">this page</a> is licensed under the <a rel="license cc:license" itemprop="license" href="//creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a> attributable to <span property="cc:attributionName">{{ page_author }}</span>.</div>
            </div><!-- /.postFooter-metaAcknowledgments -->
          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </footer><!-- /.postFooter -->
  </article><!-- /.postArticle -->
</main>

<!-- Post footer section -->
<section class="container postFooter-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      <!-- Share buttons -->
      {% include social_share.html %}

      <!-- Author card -->
      {% unless page.author %}
        {% assign site_author = site.author.name | default: site.author | default: site.title | default: site.name %}
        {% if site_author %}
          {% assign site_author = site_author | smartify | strip_html | strip_newlines | escape_once %}
        {% endif %}

        {% assign site_author_bio = site.author.bio | default: site.description %}
        {% if site_author_bio %}
          {% assign site_author_bio = site_author_bio | smartify | strip_html | strip_newlines | truncate: 160 | escape_once %}
        {% endif %}

        {% assign site_author_avatar = site.author.avatar | default: site.logo.path | default: site.logo %}
        {% if site_author_avatar %}
          {% assign site_author_avatar = site_author_avatar | escape %}
        {% endif %}
        <hr class="postFooter-sectionDivider">

        <div class="postAuthor-card">
          <div class="postAuthor-cardAvatar">
            <a class="postAuthor-cardAvatarLink" href="{{ site_url }}/">
              <img class="postAuthor-cardAvatarImage" src="{{ site_author_avatar }}" alt="{{ site_author }}">
            </a>
          </div><!-- /.postAuthor-cardAvatar -->
          <div class="postAuthor-cardContent">
            <h4 class="postAuthor-cardContentName">
              <a href="{{ site_url }}/">{{ site_author }}</a>
            </h4>
            <p class="postAuthor-cardContentBio">{{ site_author_bio }}</p>
          </div><!-- /.postAuthor-cardContent -->
        </div><!-- /.postAuthor-card -->
      {% endunless %}

      <!-- Disqus -->
      {% if site.disqus_shortname and page.comments != 'false' %}
        {% if jekyll.environment == "production" %}
          {% include disqus_thread.html %}
        {% endif %}
      {% endif %}
    </div><!-- /.col-* -->
  </div><!-- /.row -->
</section><!-- /.container -->

<!-- Random posts -->
<aside class="randomPosts">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div id="random-posts"></div>
      </div><!-- /.col-* -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</aside><!-- /.randomPosts -->

<!-- Elevator wrapper - Scroll back to top button -->
<div class="elevatorWrapper"></div>
