//
// AnchorJS - Link placement and hover behavior
//

.anchorjs-link {
  opacity: 0;
  color: inherit !important;
  text-decoration: none !important; // do not underline link
  background-image: none !important;

  @media (max-width: 767px) {
    display: none !important;
  }
}

*:hover {

  > .anchorjs-link {
    opacity: .75;
    transition: all .16s linear;
  }

  > .anchorjs-link {
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
