//
// Header anchor link placement and hover behavior
//

.anchor {
  position: absolute;
  padding-right: .575em; // margin-left value divide by 2
  margin-left: -1.15em;
  color: inherit;
  opacity: 0;

  @media (max-width: 479px) {
    display: none;
  }

  .icon-link {
    font-size: 66%;
    vertical-align: .125em;
  }
}

*:hover {
  > .anchor {
    opacity: .75;
    // ** transition is in _global.sass for anchor ** //
    // transition: all .16s linear;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Offsetting an html anchor to adjust for fixed header

// stylelint-disable selector-no-qualifying-type
.markdown-body,
.archive-content {
  > h2[id],
  > h3[id],
  > h4[id] {
    scroll-margin-top: 2.75em;
  }
}
// stylelint-enable selector-no-qualifying-type
