//
// Archive page
//

.archive-content {
  margin-bottom: 60px;
  font-size: 18px;
  // color: rgba(0, 0, 0, .8);

  @media (max-width: 767px) {
    font-size: 16px;
  }

  // stylelint-disable declaration-no-important
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
  // stylelint-enable declaration-no-important
}

.archive-year {
  margin-top: 47px;
  margin-left: -2.25px;
  font-family: var(--font-family-serif-display);
  font-size: 34px; // 30px
  // font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: var(--heading-color);
  // letter-spacing: -.04em;

  @media (max-width: 767px) {
    margin-top: 39px;
    margin-left: -1.75px;
    font-size: 26px;
    // line-height: 1.12;
    // letter-spacing: -.044em;
  }
}

.archive-item {
  margin-top: 15px;

  @media (max-width: 767px) {
    margin-top: 13px;
  }
}

.archive-year + .archive-item {
  margin-top: 17px;

  @media (max-width: 767px) {
    margin-top: 15px;
  }
}

.archive-title {
  a {
    padding-bottom: .05em;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
    border-bottom: 1px dotted rgba(0, 0, 0, .3);

    &:hover,
    &:focus {
      padding-bottom: .05em;
      color: rgba(0, 0, 0, .9);
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, .7);
    }
  }
}

.archive-date {
  font-size: .975em;
  color: var(--text-muted);
  text-align: right;
  cursor: default;

  > time {
    vertical-align: middle;
  }

  @media (max-width: 767px) {
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: .753em;
    text-align: left;
  }
}
