//
// Buttons
//

.btn {
  text-decoration: none !important;
  background-image: none !important;
  font-family: $theme-font-family-base;
  // text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  // letter-spacing: -.02em;
  letter-spacing: 0;
  border-radius: 999em;
  padding: 15px 25px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  background-color: transparent;
  color: rgba(0,0,0,0.44);
  border-color: rgba(0,0,0,0.15);

  &:hover {
    background-color: transparent;
    color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.3);
  }

  &:focus,
  &:active, &:active:hover, &:active:focus {
    outline: 0;
    background-color: transparent;
    color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0.6);
  }

  @media (max-width: 767px) {
    padding: 11px 19px;
  }
}
