//
// Buttons
//

.btn {
  padding: 15px 25px;
  font-family: $font-family-base;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  // letter-spacing: -.02em;
  letter-spacing: 0;
  text-decoration: none !important;
  // text-transform: uppercase;
  text-rendering: optimizeLegibility;
  background-image: none !important;
  border-radius: 999em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-font-feature-settings: liga on;
}

.btn-lg {
  padding: 25px 35px;
  font-size: 16px;
}

.btn-default {
  color: rgba(0,0,0,.44);
  background-color: transparent;
  border-color: rgba(0,0,0,.15);

  &:hover {
    color: rgba(0,0,0,.6);
    background-color: transparent;
    border-color: rgba(0,0,0,.3);
  }

  &:focus,
  &:active, &:active:hover, &:active:focus {
    color: rgba(0,0,0,.8);
    background-color: transparent;
    border-color: rgba(0,0,0,.6);
    outline: 0;
  }

  @media (max-width: 767px) {
    padding: 11px 19px;
  }
}
