//
// Buttons
//

.btn {
  box-shadow: none;

  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    box-shadow: none;
  }
}

.btn-outline-default {
  padding: 15px 25px;
  font-family: $font-family-base;
  font-size: 16px; // 14px
  font-weight: 400;
  // letter-spacing: -.02em;
  color: rgba(0, 0, 0, .44);
  letter-spacing: 0;
  // text-transform: uppercase;
  background-color: transparent;
  background-image: none;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 999em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    color: rgba(0, 0, 0, .6);
    background-color: transparent;
    background-image: none;
    border-color: rgba(0, 0, 0, .3);
  }

  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    color: rgba(0, 0, 0, .8);
    background-color: transparent;
    background-image: none;
    border-color: rgba(0, 0, 0, .6);
    outline: 0;
  }

  @media (max-width: 767px) {
    padding: 11px 19px;
  }
}

.btn-outline-default-lg {
  padding: 25px 35px;
  font-size: 16.8px; // 16px
}
