//
// Elevator - Scroll back to top button
//

.elevator-wrapper {
  @media (max-width: 767px) {
    display: none;
  }
}

.elevator {
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
  display: inline-block;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  cursor: pointer;
  visibility: hidden;
  background-image: none;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s 0s;

  &.elevator-is-visible,
  &.elevator-fade-out,
  &:hover {
    transition: visibility 0s 0s, opacity 0.3s 0s;
  }

  // the button becomes visible
  &.elevator-is-visible {
    visibility: visible;
    opacity: 1;
  }

  // if the user keeps scrolling down, the button is out of focus and becomes less visible
  &.elevator-fade-out {
    opacity: 0.5;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }

  @media (min-width: 1200px) {
    right: 1.6rem;
    bottom: 1.7rem;
    font-size: 1.5rem;
  }

  .icon-arrow-up {
    padding: 0.1rem;
    // font-size: 1.5rem;
  }
}
