//
// 404 error page content
//

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.error-page-container {
  padding: 2em;
  animation: fade-in 2s;
  transform: translateZ(0);
}

.error-page-message {
  color: rgba(0,0,0,0.8);
  font-family: $theme-font-family-base;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.error-page-message-lead {
  margin-bottom: 10px;
  font-size: 32px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.error-page-message-small {
  margin-top: 10px;
  color: rgba(0,0,0,0.44);
  // font-family: $theme-font-family-base;
  font-weight: 400;
  // font-style: normal;
  font-size: 16px;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  a {
    color: rgba(0,0,0,0.44);
    text-decoration: underline;

    &:hover,
    &:active {
      color: rgba(0,0,0,0.6);
      text-decoration: underline;
    }
  }
}
