//
// 404 error page content
//

.o-error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.o-error-content {
  padding: 2em;
  transform: translateZ(0);
  animation: fade-in 2s;
}

.o-error-message {
  font-family: $font-family-base;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  color: rgba(0, 0, 0, .8);
  letter-spacing: -.04em;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.o-error-message--lead {
  margin-bottom: 10px;
  font-size: 32px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.o-error-message--small {
  margin-top: 10px;
  // font-family: $font-family-base;
  font-size: 16px;
  // font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, .44);
  letter-spacing: -.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  a {
    color: rgba(0, 0, 0, .44);
    text-decoration: underline;

    &:hover,
    &:active {
      color: rgba(0, 0, 0, .6);
      text-decoration: underline;
    }
  }
}
