//
// Headroom
//

@media (min-width: 768px) {
  .headroom {
    // background-color: white;
    // border-color: transparent;

    will-change: background-color,
                 border-color,
                 transform;
    transition: background-color 200ms linear,
                border-color 200ms linear,
                transform 200ms linear;
  }

  .headroom--pinned {
    background-color: rgba(white, 0.97);
    border-color: darken(white, 5%);
    transform: translateY(0%);
  }

  .headroom--unpinned {
    transform: translateY(-100%);
  }

  .headroom--top {
    background-color: white;
    border-color: transparent;
  }
}

@media (max-width: 767px) {
  .headroom--not-top {
    transform: translateY(-100%);
  }
}
