//
// Header navigation
//

.navbar {
  background-color: #fff;
  @media (min-width: 768px) {
    height: 65px; // should be min-height if dropdown menu contents
  }
}

.nav-link {
  @media (min-width: 768px) {
    margin-left: 23px;
  }

  @media (max-width: 767px) {
    line-height: 40px;
    text-align: center;
  }
}

.form-inline {
  @media (max-width: 767px) {
    flex-direction: column;
  }
}


// Scrolling behavior

.headroom {
  //*** Force hardware acceleration ***//
  transform: translateZ(0);
  transition: background-color 500ms,
              box-shadow 500ms;
  will-change: background-color,
               box-shadow;
}

.headroom--not-top {
  background-color: rgba(255,255,255,.97);
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15); // 0 0 1px rgba(0,0,0,.15);
}
