//
// Header link placement and hover behavior
//

.js-headerLink {
  position: absolute;
  padding-right: .5em;
  margin-left: -1em;
  color: inherit !important;
  text-decoration: none !important; // do not underline link
  background-image: none !important;
  opacity: 0;

  .icon-link {
    font-size: 66%;
    vertical-align: .1em;
  }

  @media (max-width: 767px) {
    display: none !important;
  }
}

*:hover {

  > .js-headerLink {
    opacity: .75;

    // transition is in _global.sass for anchor
    //
    // transition: all .16s linear;
  }

  > .js-headerLink {
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Offsetting an html anchor to adjust for fixed header
// (https://css-tricks.com/hash-tag-links-padding/#article-header-id-1)
.markdownBody {
  >h2[id]::before,
  >h3[id]::before,
  >h4[id]::before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    content: "";
    visibility: hidden;
  }
}
