//
// Hero page
//

// Hero page container

.hero-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  // if you have a 70px navbar => height: calc(100vh - 70px);
  // min-height: 100vh;
  min-height: calc(100vh - 65px); // navbar height 65px

  @media (max-width: 767px) {
    min-height: calc(100vh - 56px); // navbar height 56px
  }

  padding: 15px; // 1.25em ~20px
  // font-size: 16px;
  background-attachment: fixed;
  background-color: #fff;
  // NOTE: Background images are set within the HTML using inline CSS!
  // background-image: linear-gradient(to top, rgba(0,0,0,.44), rgba(0,0,0,.44)), url('/assets/img/hero.jpg'); // rgba(0,0,0,0.753)
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #c2d0d7; // silver
    background-image: linear-gradient(to left top, #8e9eab , #eef2f3); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    content: "";
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.25s ease-in-out 0s,
                visibility 1.25s 0s;
  }

  &.is-loading::before {
    opacity: 1;
    visibility: visible;
  }
}


// Hero page profile

.hero-profile {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 31.25em; // ~500px
  padding: 0 3em 2em; // ~0 48px 32px;

  @media (max-width: 480px) {
    width: 100%;
    padding: 0 2em 1.25em; // ~0 32px 20px
  }

  margin-top: 60px; // fill avatar -60px
  text-align: center;
  cursor: default;
  //background-color: rgba(255,255,255,.929);
  background-color: transparent;
  border-radius: .375rem; // ~6px
  opacity: .99;
  transform: perspective(1000px) rotateX(0deg);
  transition: opacity 1s ease,
              transform 1s ease;
  transform-origin: 50% 50%;

  &.is-loading {
    opacity: 0;
    transform: perspective(1000px) rotateX(15deg);
  }
}

.hero-profileInner {
  display: block;
}

.hero-avatar {
  position: relative;
  //display: block;
  display: none;
  margin-bottom: 1.25em; // ~20px
}

.hero-avatarImage {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto; // center the avatar
  margin-top: -60px; // half avatar out of flex
  background: #eee;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(136,153,166,.15);
}

.hero-title {
  margin-bottom: .5em;
  font-family: "Source Sans Pro";
  font-size: 3.25em;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -.0075em;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.2);
  word-break: break-word;
  word-wrap: break-word;
  outline: 0;
}

.hero-description {
  margin-bottom: 1.5em;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: .0333em;
  color: rgba(255,255,255,.9);
  word-break: break-word;
  word-wrap: break-word;
  outline: 0;
}


// Hero page icons

ul.hero-social {
  padding-left: 0;
  margin: .175em 0;
  // margin-top: .675em;
  letter-spacing: 0;
  list-style: none;
  cursor: default;

  > li {
    display: inline-block;
    padding: .5em;
    vertical-align: middle;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4em;
    height: 3.4em;
    color: rgba(255,255,255,.9);
    border: solid 1px rgba(255,255,255,.9);
    border-radius: 100%;

    &.icon-twitter:hover {
      // color: $twitter-color;
      background-color: $twitter-color;
      // border: solid 1px $twitter-color;

      // svg {
        // fill: #fff;
      // }
    }

    &.icon-instagram:hover {
      background-color: $instagram-color;
    }

    &.icon-github:hover {
      background-color: $github-color;
    }

    svg {
      display: block;
      width: 60%;
      height: 60%;
      transition: fill .25s ease;
      fill: currentColor;
    }

    .label {
      display: none;
    }
  }
}
