//
// Hero page layout
//

// Hero page container

.hero-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // ** if you have a 70px navbar => height: calc(100vh - 70px); ** //
  // min-height: 100vh;
  min-height: calc(100vh - 64px); // navbar height 64px
  @media (max-width: 767px) {
    min-height: calc(100vh - 56px); // navbar height 56px
  }
  padding: 15px; // 1.25em ~20px
  background-color: #fafafa;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .001), rgba(0, 0, 0, .001)), url("/assets/img/hero-20200605.jpg");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center, center;
  background-size: cover, cover;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;
    content: "";
    background-color: #c2d0d7; // fallback
    background-image: linear-gradient(to left top, #8e9eab, #eef2f3);
    opacity: 0;
    transition: visibility 1.25s 0s, opacity 1.25s ease-in-out 0s;
  }

  &.is-loading::before {
    visibility: visible;
    opacity: 1;
  }
}

// Hero page profile

.hero-profile {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 30.333em; // ~500px
  padding: 0 3em 2em; // ~0 48px 32px;

  @media (max-width: 479px) {
    padding: 0 2em 1.25em; // ~0 32px 20px
  }

  @media (min-width: 768px) {
    max-width: 33.333em;
  }

  margin-top: 60px; // fill avatar -60px
  text-align: center;
  cursor: default;
  background-color: rgba(0, 0, 0, .009);
  border: 1px solid #111;
  border-radius: 4px;
  opacity: .99;
  transition: opacity 1s ease, transform 1s ease;
  transform: perspective(1000px) rotateX(0deg);
  transform-origin: 50% 50%;

  &.is-loading {
    opacity: 0;
    transform: perspective(1000px) rotateX(15deg);
  }
}

.hero-profile-inner {
  display: block;
}

.hero-avatar {
  position: relative;
  display: block;
  margin-top: -60px; // half avatar out of flex
  margin-bottom: 1.25em; // ~20px

  a {
    // ** helps to hide boader on img opacity ** //
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #111;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(136, 153, 166, .15);
  }
}

.hero-avatar-img {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto; // center the avatar
  // margin-top: -60px; // half avatar out of flex
  background: #eee;
  // border: 5px solid #fff;
  border-radius: 100%;
  // box-shadow: 0 1px 1px rgba(136, 153, 166, .15);
}

.hero-title {
  margin-bottom: .5em;
  font-family: var(--font-family-serif-display);
  @include font-size(3.333rem); // font-size: 3.25em;
  font-weight: 400;
  line-height: 1.2;
  color: #111;
  text-shadow: 0 1px rgba(255, 255, 255, .2); // dark => text-shadow: 0 1px rgba(0, 0, 0, .2);
  // letter-spacing: -.002em; // -.0075em;
  word-break: break-word;
  word-wrap: break-word;
  outline: 0;

  // ** Font feature settings ** //
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern" on, "liga" on, "clig" on, "calt" on;
  mask-image: url("/assets/img/dust-and-scratches.png");
}

.hero-description {
  margin-bottom: 1.5em;
  // font-family: var(--font-family-sans-serif);
  @include font-size(1rem); // 16px
  font-weight: 300;
  line-height: 1.4;
  color: rgba(0, 0, 0, .9);
  text-shadow: 0 1px rgba(255, 255, 255, .4); // dark => text-shadow: 0 1px rgba(0, 0, 0, .4);
  // letter-spacing: -.002em; // .0333em;
  word-break: break-word;
  word-wrap: break-word;
  outline: 0;

  @media (min-width: 480px) {
    @include font-size(1.125rem); // 18px
  }

  @media (min-width: 768px) {
    @include font-size(1.25rem); // 20px
  }
}

// Hero page icons

// stylelint-disable selector-no-qualifying-type
ul.hero-social {
  padding-left: 0;
  margin: .175em 0;
  // margin-top: .675em;
  letter-spacing: 0;
  list-style: none;
  cursor: default;

  > li {
    display: inline-block;
    padding: .5em;
    vertical-align: middle;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4em;
    height: 3.4em;
    @include font-size(1rem); // 16px
    color: #222;
    border: solid 1px #222;
    border-radius: 100%;

    @media (max-width: 479px) {
      @include font-size(.875rem); // 14px
    }

    &:hover {
      border-color: #fafafa;

      // stylelint-disable selector-max-type
      svg {
        fill: #fafafa;
      }
      // stylelint-enable selector-max-type
    }

    &.icon-twitter:hover {
      // color: $twitter-color;
      background-color: $twitter-color;
      // border: solid 1px $twitter-color;

      // svg {
      // fill: #fff;
      // }
    }

    &.icon-instagram:hover {
      background-color: $instagram-color;
    }

    &.icon-github:hover {
      background-color: $github-color;
    }

    // stylelint-disable selector-max-type
    svg {
      display: block;
      width: 60%;
      height: 60%;
      transition: fill .25s ease;
      fill: currentColor;
    }
    // stylelint-enable selector-max-type

    .label {
      display: none;
    }
  }
}
// stylelint-enable selector-no-qualifying-type
