//
// Markdown content
//

.markdown-body {
  font-family: $font-family-serif;
  font-size: 20px;
  // font-style: normal;
  // font-weight: 400;
  line-height: 1.65;
  // color: rgba(0, 0, 0, .8);
  letter-spacing: -.004em;
  word-wrap: break-word;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 1.58;
  }

  // stylelint-disable declaration-no-important
  &.page-body {
    margin-bottom: 60px;

    > *:first-child {
      margin-top: 0 !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &.post-body {
    margin-bottom: 5px;

    > *:first-child {
      margin-top: 1.05em !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
  // stylelint-enable declaration-no-important

  // Crafting link underlines
  h3,
  h4,
  p,
  blockquote,
  ul,
  ol,
  dl,
  .table,
  figcaption,
  .footnotes {
    a {
      // color: rgba(0, 0, 0, .7);
      // text-decoration: none;
      border-bottom: 1px dotted rgba(0, 0, 0, .7);
      -webkit-tap-highlight-color: rgba(0, 0, 0, .3);

      &:hover,
      &:focus {
        // color: inherit;
        // color: rgba(0, 0, 0, .9);
        // text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, .8);
      }
    }
  }

  h3,
  h4 {
    a {
      // color: rgba(0, 0, 0, .8);
      border-bottom: 2px dotted rgba(0, 0, 0, .7);

      &:hover,
      &:focus {
        // color: rgba(0, 0, 0, .9);
        border-bottom: 2px solid rgba(0, 0, 0, .8);
      }
    }
  }

  a[role="button"] {
    margin: 3px;
    border: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    outline: 0;

    &:hover,
    &:focus {
      border: 0;
      border: 1px solid rgba(0, 0, 0, .3);
    }
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
    background-image: none;
    border-bottom: none;
  }

  h3 {
    margin-top: 2.75em;
    margin-left: -2.25px;
    // font-family: $font-family-sans-serif;
    font-size: 1.563em;
    // font-style: normal;
    // font-weight: 700;
    line-height: 1.2; // 1.15
    // color: rgba(0, 0, 0, .8);
    letter-spacing: -.0022em; // -.04em

    @media (max-width: 767px) {
      margin-left: -1.75px;
    }
  }

  h4 {
    margin-top: 2.75rem;
    margin-left: -1.75px;
    // font-family: $font-family-sans-serif;
    font-size: 1.333em;
    // font-style: normal;
    // font-weight: 700;
    line-height: 1.2; // 1.22
    // color: rgba(0, 0, 0, .8);
    letter-spacing: -.0022em; // -.044em

    @media (max-width: 767px) {
      margin-left: -1.5px;
    }
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  figure {
    margin-top: 2em;
  }

  h3 + h4,
  h4 + h3 {
    margin-top: 2.75rem;
  }

  p + p {
    margin-top: 1.75em;
  }

  h3 + p,
  h4 + p,
  h3 + ul,
  h3 + ol,
  h4 + ul,
  h4 + ol,
  p + ul,
  p + ol {
    margin-top: 1.15em;
  }

  ul,
  ol {
    padding-left: 0; // reset default left padding
  }

  > ul,
  > ol {
    list-style-type: square;
  }

  li {
    margin-top: .75em;
    margin-left: 1.15em;
    p {
      margin: 0;
    }
  }

  dl {
    padding: 0;
    dt {
      padding: 0;
      margin: 0;
      font-size: 1em;
      font-style: italic;
      font-weight: 700;
    }
    dd {
      padding: 0 .75em;
      margin: 0;
    }
  }

  dd + dt {
    margin-top: .75em;
  }

  figure img {
    display: block;
    margin: 0 auto;
  }

  figcaption {
    padding: 0 1em;
    margin-top: 10px;
    font-family: $font-family-sans-serif;
    font-size: 15.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(0, 0, 0, .6);
    text-align: center;
    letter-spacing: 0;
    outline: 0;

    a {
      // color: rgba(0, 0, 0, .6);
      // text-decoration: none;
      border-bottom: 1px dotted rgba(0, 0, 0, .5);

      &:hover,
      &:focus {
        // color: rgba(0, 0, 0, .7);
        // text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, .6);
      }
    }
  }

  blockquote {
    padding: 0 1em;
    font-style: italic;
    color: rgba(0, 0, 0, .7);
    border-left: .25em solid rgba(0, 0, 0, .7); // 3px solid rgba(0, 0, 0, .8)

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  hr {
    display: block;
    margin-top: 2.75rem; // 42px;
    margin-bottom: 2.75em; // 52px;
    text-align: center;
    border: 0;

    // @media (max-width: 767px) {
    //  margin-top: 34px;
    //  margin-bottom: 44px;
    // }

    &::before {
      position: relative;
      top: -.9em;
      display: inline-block;
      // margin-left: .8em;
      font-family: $font-family-serif;
      font-size: 26px; // 21px; 28px;
      font-style: italic;
      font-weight: 400;
      color: rgba(0, 0, 0, .6);
      text-indent: .8em;
      letter-spacing: .8em;
      content: "\002e\002e\002e"; // ...
    }
  }


  //
  // GitHub Pages and Markdown
  //

  // Emoji
  .emoji {
    display: inline-block;
    max-width: none;
    background-color: transparent;
  }


  // Footnotes
  .footnotes {
    font-size: 15.8px;

    h4 {
      margin: 0;
      font-size: 16px;
    }
    ol {
      margin: 0;
    }
    li {
      margin-top: 10px;
    }
    p {
      margin: 0;
    }
  } // .footnotes


  // Footnotes anchor link
  .footnote,
  .reversefootnote {
    display: inline-block;
    font-weight: 700;
    text-decoration: none !important;
    background-image: none !important;
    border-bottom: none !important;

    // Hash tag links that don't headbutt the browser window
    // https://css-tricks.com/hash-tag-links-padding/
    &::before {
      display: block;
      height: 79px;
      margin-top: -79px;
      pointer-events: none;
      visibility: hidden;
      content: "";

    }
  }

} // ./markdown
