//
// NProgress
//

#nprogress {
  // Make clicks pass-through
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $nprogress-zindex;
    width: 100%;
    height: $nprogress-height;
    background: $nprogress-color;
  }

  // Fancy blur effect
  .peg {
    position: absolute;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    opacity: 1;
    transform: rotate(3deg) translate(0, -4px);
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
  }

  @media (max-width: 991px) {
    display: none !important;
  }
}
