//
// Pager navigation
//

.pager {
  margin: 20px 0 40px;

  .icon {
    vertical-align: -.175em;
  }

  .icon-angle-left {
    margin-right: -3px;
    margin-left: -7px;
  }

  .icon-angle-right {
    margin-right: -7px;
    margin-left: -3px;
  }

  .btn--archive {
    padding-left: 1px;
    border: 0;
  }
}
