//
// Theme layout design
//

// Middot divider

.u-middot-divider {
  display: inline-block;
  padding: 0 .42em;
}

.u-middot-divider::after {
  content: "\00b7"; // "·"
}


// Page content

.page-content,
.post-content {
  margin-top: 49px;
  transform: translateZ(0);

  @media (min-width: 768px) {
    margin-top: 64px;
  }
}


// Page header

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
  background-color: #fff;
  // NOTE: Background images are set within the HTML using inline CSS!
  // background-image: linear-gradient(to top, rgba(0,0,0,.44), rgba(0,0,0,.44)), url('/assets/img/page.jpg');
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll;
  background-position: center, center;
  background-size: cover, cover;

  @media (min-width: 768px) {
    height: 420px;
    margin-bottom: 80px;
  }
}

.page-header-intro-divider {
  max-width: 100px;
  margin: 15px auto;
  border: 0;
  border-top: 4px solid #fff;
}

.page-header-title {
  // margin-top: 0;
  font-family: $font-family-sans-serif;
  font-size: 48px;
  text-shadow: 0 1px rgba(0, 0, 0, .2);
  letter-spacing: -.04em;

  @media (min-width: 768px) {
    font-size: 72px;
  }
}

.page-header-tagline {
  display: block;
  padding-top: 3px;
  // margin: 10px 0 0;
  font-family: $font-family-sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  color: rgba(255, 255, 255, .7);
  letter-spacing: -.02em;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}


// Override styles for pagination

.paginator-header {
  height: 180px;

  @media (min-width: 768px) {
    height: 280px;
  }
}

.paginator-header-intro-divider {
  border-width: 2px;

  @media (min-width: 768px) {
    border-width: 3px;
  }
}

.paginator-header-title {
  font-size: 40px;

  @media (min-width: 768px) {
    font-size: 58px;
  }
}

.paginator-header-tagline {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

// Page body

.page-body {
  margin-bottom: 60px; // 50px
}


// Site page footer

.site-footer {
  padding: 50px 0 40px;
  // margin-top: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, .04); // rgba(0, 0, 0, .02); #fafafa

  @media (min-width: 768px) {
    padding: 60px 0 50px;
  }
}

.site-footer-social {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    color: rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 0, .7);
    border-radius: 100%;

    @media (min-width: 768px) {
      width: 3em;
      height: 3em;
    }

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, .8);
      background-color: rgba(0, 0, 0, .8);
    }

    svg {
      display: block;
      width: 60%;
      height: 60%;
      fill: #fff;
    }
  }

  .label {
    display: none;
  }
}

.site-footer-legal {
  margin-top: 30px;
  // margin-bottom: 0;
  font-family: $font-family-base;
  font-size: 14.8px;
  color: rgba(0, 0, 0, .6);

  @media (min-width: 768px) {
    margin-top: 40px;
    font-size: 15.8px;
  }

  a {
    // text-decoration: underline;
    // color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
      // color: inherit;
    }
  }

  .label {
    display: none;
  }

  // white space for icon
  .icon-copyright {
    margin-right: -.5px;
  }

  .icon-pencil-alt {
    margin-right: 1px;
    margin-left: 1.5px;
  }

  .icon-heart {
    margin-right: 1px;
    margin-left: 1px;
  }

  .icon-coffee {
    width: 1.25em; // match icon size with the others
    margin-right: 1px;
    margin-left: 1px;
  }

}
