//
// Pager pagination
//

.pager {
  padding-left: 0;
  margin: 20px 0 40px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-rendering: optimizeLegibility;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-font-feature-settings: liga on;
  @include clearfix;

  li {
    display: inline;

    > a {
      display: inline-block;
      padding: 12.5px 20px;
      font-family: $font-family-base;
      font-size: 12px;
      // text-transform: uppercase;
      font-weight: 400;
      // letter-spacing: -.02em;
      letter-spacing: 0;
      color: rgba(0,0,0,.44);
      background-color: rgba(0,0,0,0);
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 999em;

      @media (min-width: 768px) {
        padding: 15px 25px;
        font-size: 14px;
      }
    }

    > a:hover {
      // text-decoration: none;
      color: rgba(0,0,0,.6);
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,.3);
    }

    > a:focus,
    > a:active {
      color: rgba(0,0,0,.8);
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,.6);
      outline: 0;
    }
  }

  .next {
    > a {
      float: right;
    }
  }

  .previous {
    > a {
      float: left;
    }
  }

  .fa-angle-left {
    padding-right: 3px;
  }

  .fa-angle-right {
    padding-left: 3px;
  }
}
