//
// Pager pagination
//

.pager {
  padding-left: 0;
  margin: 20px 0 40px;
  text-align: center;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  li {
    display: inline;

    > a {
      display: inline-block;
      padding: 12.5px 20px;
      font-family: $font-family-base;
      font-size: 16px; // 12px
      // text-transform: uppercase;
      font-weight: 400;
      color: rgba(0, 0, 0, .44);
      // letter-spacing: -.02em;
      letter-spacing: 0;
      background-color: transparent;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 999em;

      @media (min-width: 768px) {
        padding: 15px 25px;
        // font-size: 14px;
      }
    }

    > a:hover {
      // text-decoration: none;
      color: rgba(0, 0, 0, .6);
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, .3);
    }

    > a:focus,
    > a:active {
      color: rgba(0, 0, 0, .8);
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, .6);
      outline: 0;
    }
  }

  .next {
    > a {
      float: right;
    }
  }

  .previous {
    > a {
      float: left;
    }
  }

  .icon-angle-left {
    margin-right: 1px;
  }

  .icon-angle-right {
    margin-left: 1px;
  }
}
