//
// Pil v0.1.0
//

.pil {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: darken(#fff, 6.5%); // #eee

  img:first-of-type {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear .5s,
                opacity .1s .4s;
    backface-visibility: hidden;
  }
}

.pil-loaded img:first-of-type {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s,
              opacity .4s 0s;
}

.pil-thumb {
  img {
    position: absolute;
    top: 0;
    left: 0;
    // box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    filter: blur(30px);
    transition: visibility 0s linear 0s,
                opacity .4s 0s;
  }

  &.pil-thumb-loaded img {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s,
                opacity .4s 0s;
  }
}

.pil-loaded .pil-thumb img {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear .5s,
              opacity .1s .4s;
  backface-visibility: hidden;
}
