//
// Post page
//

.post-masthead {
  padding-top: 64px;

  @media (max-width: 767px) {
    padding-top: 50px;
  }
}

.post-meta {
  padding-bottom: 10px;
  // display: block;
  // font-family: var(--font-family-sans-serif);
  font-size: 15.8px;
  font-weight: 400;
  line-height: 1.1;
  // letter-spacing: 0;
  color: var(--text-muted);

  @media (max-width: 767px) {
    font-size: 14.8px;
  }
}

.post-title {
  margin-top: 10px;
  margin-left: -2.25px;
  font-family: var(--font-family-serif-display);
  // font-size: 37.9px; // ~2.369em (37.90px)
  @include font-size(2.333rem);
  // font-style: normal;
  //  font-weight: 700;
  font-weight: 400;
  line-height: 1.2; // 1.15
  // color: rgba(0, 0, 0, .8);
  // letter-spacing: -.002em;

  // ** Font feature settings ** //
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern" on, "liga" on, "clig" on, "calt" on;

  mask-image: url("/assets/img/dust-and-scratches.png");

  @media (max-width: 767px) {
    margin-left: -1.75px;
    // font-size: 28.43px; // ~1.777em (28.43px)
  }
}

// Post header lead container
.container.post-lead {
  padding-right: 0;
  padding-left: 0;

  // width 100% on small and medium screens
  @media (max-width: 991px) {
    width: 100%;
  }
}

.post-lead-figure {
  margin: 47px auto;

  @media (max-width: 767px) {
    margin: 39px auto;
  }
}

.post-lead-img {
  margin: 0 auto;
}

.post-lead-figcaption {
  position: relative;
  top: 0;
  left: 0;
  z-index: 300;
  display: block;
  width: 100%;
  margin-top: 10px;
  // font-family: var(--font-family-sans-serif);
  font-size: 16px;
  // font-style: normal;
  // font-weight: 400;
  line-height: 1.4;
  color: var(--text-muted);
  text-align: center;
  letter-spacing: 0;
  outline: 0;

  @media (max-width: 991px) {
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.post-footer {
  padding-top: 33px; // 20px, 40px
}

.post-modified {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 15.8px;
  line-height: 1.2;
  color: var(--text-muted);

  @media (max-width: 767px) {
    font-size: 14.8px;
  }
}

.post-footer-meta-acknowledgments {
  padding-top: 5px;
  // padding-bottom: 20px;
  padding-bottom: 25px;
  font-size: 15.8px;
  line-height: 1.2;
  color: var(--text-muted);

  @media (max-width: 767px) {
    font-size: 14.8px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .icon-creative-commons-by {
    margin-left: 5px;
    font-size: 1.25em; // 21px
    vertical-align: -.215em;
  }
}


// Post footer section

.post-footer-section {
  transform: translateZ(0);
}


// Social share

.social-share {
  // padding-bottom: 20px;
  padding-bottom: 25px;
  padding-left: 0;
  margin-left: -5px;
  font-size: 15.8px;
  color: var(--text-muted);
  list-style: none;

  @media (max-width: 767px) {
    font-size: 14.8px;
  }

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.social-share-lead {
  vertical-align: middle;
}

.btn--social-share {
  padding: 5px 10px;
  font-size: 13.8px;
  border: 0;
  border-radius: 4px;
  @include btn-social-share();

  .icon {
    margin-right: .5em;
  }

  @media (max-width: 991px) {
    width: 35px;
    padding: 5px 0;

    .icon {
      margin-right: 0;
    }

    .label {
      display: none;
    }
  }
}

// Post footer section divider

.post-footer-section-divider {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid var(--section-divider-secondary); // rgba(0, 0, 0, .05);
}


// Post author card

.post-author-card {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.post-author-card-avatar {
  flex: 0 0 auto;
}

.post-author-card-avatar-link {
  display: block;
  overflow: hidden;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-author-card-avatar-img {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  border-radius: 100%;
}

.post-author-card-content {
  flex: 1 1 auto;
  padding-left: 15px;
  word-break: break-word;
  word-wrap: break-word;
}

.post-author-card-content-name {
  padding-right: 20px;
  margin-bottom: 4px;
  font-size: 20.8px;

  @media (max-width: 767px) {
    font-size: 18.8px;
  }

  &:hover,
  &:focus {
    text-decoration: underline var(--body-color);
  }
}

.post-author-card-content-bio {
  max-width: 450px;
  padding-right: 20px;
  font-size: 16.8px;
  color: var(--text-muted);

  @media (max-width: 767px) {
    font-size: 15.8px;
  }
}


// Disqus commenting system

.comments {
  padding-top: 30px;
  margin-bottom: 80px;
  overflow-x: hidden;
  border-top: 1px solid var(--section-divider); // rgba(0, 0, 0, .1);

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }

  a {
    color: var(--section-divider);

    &:hover,
    &:focus {
      color: var(--text-muted);
    }
  }
}

.btn--disqus {
  display: block;
  width: 100%;
  padding: 13px;
  font-size: 15.8px;
  border-radius: 4px !important;

  @media (max-width: 767px) {
    font-size: 14.8;
  }

  .icon {
    margin-right: .6em;
  }
}


// Random posts

.random-posts {
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .02); // #fafafa
}

.random-posts-heading {
  padding-top: 50px;
  padding-bottom: 15px;
  margin: 0;
  font-size: 13.8px;
  font-weight: 400;
  color: var(--text-muted);
  text-transform: uppercase;
  letter-spacing: .22em;
  border-bottom: solid 1px var(--section-divider-secondary); // rgba(0, 0, 0, .15);

  @media (max-width: 767px) {
    padding-top: 20px;
    font-size: 13px;
  }
}

.random-posts-item {
  position: relative;
  padding: 25px 0 32px;
  line-height: 1.1;
  border-bottom: 1px solid var(--section-divider-secondary); // rgba(0, 0, 0, .05);

  @media (max-width: 767px) {
    padding: 24px 0 17px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.random-posts-item-title {
  // margin: 0;
  // font-family: var(--font-family-sans-serif);
  // font-size: 24px;
  @include font-size(1.555rem);
  line-height: 1.2; // 1.3
  letter-spacing: -.04em;

  @media (max-width: 767px) {
    // font-size: 22px;
    letter-spacing: -.044em;
  }
}

*:hover,
*:focus {
  > .random-posts-item-title {
    text-decoration: underline var(--body-color);
  }
}

.random-posts-item-excerpt {
  margin: 2px 0 0;
  // font-family: var(--font-family-sans-serif);
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -.02em;

  @media (max-width: 767px) {
    font-size: 16px;
    letter-spacing: -.022em;
  }
}

.random-posts-item-meta {
  margin-top: 10px;
  font-size: 15.8px;
  line-height: 1.6;
  color: var(--text-muted-secondary); // rgba(0, 0, 0, .3);
  vertical-align: top;

  @media (max-width: 767px) {
    font-size: 14.8px;
  }
}

.random-posts-footer {
  padding-top: 20px;
  text-align: center;
}

.btn--random {
  padding: 12px 24px;
  font-size: 15.8px;

  @media (max-width: 767px) {
    padding: 10px 20px;
    font-size: 14.8px;
  }
}
