//
// Post page
//

.postHeader {
  padding-top: 50px;

  @media (max-width: 767px) {
    padding-top: 35px;
  }
}

.postHeader-meta {
  padding-bottom: 10px;
  // display: block;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  // letter-spacing: 0;
  color: rgba(0,0,0,.44);

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.postHeader-title {
  margin-top: 10px;
  margin-left: -2.25px;
  font-family: $font-family-sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -.04em;
  color: rgba(0,0,0,.8);

  @media (max-width: 767px) {
    margin-left: -1.75px;
    font-size: 30px;
    line-height: 1.12;
    letter-spacing: -.044em;
  }
}

// Post header lead container
.container.postHeader-lead {
  padding-right: 0;
  padding-left: 0;

  // width 100% on small and medium screens
  @media (max-width: 991px) {
    width: 100%;
  }
}

.postHeader-leadFigure {
  margin: 47px auto;

  @media (max-width: 767px) {
    margin: 39px auto;
  }

  .postHeader-leadFigureImage {
    margin: 0 auto;
  }
}

.postHeader-leadFigcaption {
  position: relative;
  top: 0;
  left: 0;
  z-index: 300;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: rgba(0,0,0,.6);
  text-align: center;
  outline: 0;
  -moz-font-feature-settings: "liga" on,"lnum" on;
  -webkit-font-feature-settings: "liga" on,"lnum" on;
  font-feature-settings: "liga" on,"lnum" on;

  @media (max-width: 991px) {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }
}

.postFooter {
  padding-top: 20px;
}

.postFooter-metaAcknowledgments {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 1.2;
  color: rgba(0,0,0,.44);

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .icon-cc-by {
    margin-left: 4px;
    font-size: 21px;
    vertical-align: bottom;
  }
}


// Post footer section

.postFooter-section {
  transform: translateZ(0);
}


// Social share

.socialShare {
  padding-bottom: 20px;
  padding-left: 0;
  margin-left: -5px;
  font-size: 13px;
  color: rgba(0,0,0,.44);
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.btn-socialShare {
  padding: 5px 10px;
  font-size: 13px;
  border: 0;
  border-radius: 4px;
  @include btn-social-share();

  .svg-icon {
    margin-right: .6em;
  }

  @media (max-width: 479px) {
    width: 35px;
    padding: 5px 0;

    .svg-icon {
      margin-right: 0;
    }

    .label {
      display: none !important;
    }
  }
}


// Post footer section divider

.postFooter-sectionDivider {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.05);
}


// Post author card

.postAuthor-card {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.postAuthor-cardAvatar {
  flex: 0 0 auto;
}

.postAuthor-cardAvatarLink {
  display: block;
  overflow: hidden;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postAuthor-cardAvatarImage {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 100%;
}

.postAuthor-cardContent {
  flex: 1 1 auto;
  padding-left: 15px;
  word-break: break-word;
  word-wrap: break-word;
}

.postAuthor-cardContentName {
  padding-right: 20px;
  margin-bottom: 4px;
  font-size: 18px;
}

.postAuthor-cardContentBio {
  padding-right: 20px;
  font-size: 14px;
  color: rgba(0,0,0,.6);
}


// Disqus commenting system

.comments {
  padding-top: 30px;
  margin-bottom: 80px;
  overflow-x: hidden;
  border-top: 1px solid rgba(0,0,0,.1);

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }

  a {
    color: #3f4549;

    &:hover,
    &:focus {
      color: darken(#3f4549, 6.5%);
    }
  }
}

.btn-disqus {
  display: block;
  width: 100%;
  padding: 13px;
  font-size: 13px;
  border-radius: 4px;

  .svg-icon {
    margin-right: .6em;
  }
}


// Random posts

.randomPosts {
  padding-bottom: 40px;
  background-color: #fafafa;
}

.randomPosts-heading {
  padding-top: 50px;
  padding-bottom: 15px;
  margin: 0;
  font-size: 11px;
  // font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  // color: rgba(0,0,0,0.44);
  border-bottom: solid 1px rgba(0,0,0,.15);

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.randomPosts-item {
  position: relative;
  padding: 25px 0 32px;
  line-height: 1.1;
  border-bottom: 1px solid rgba(0,0,0,.05);

  @media (max-width: 767px) {
    padding: 24px 0 17px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.randomPosts-itemTitle {
  // margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: -.04em;

  @media (max-width: 767px) {
    font-size: 20px;
    letter-spacing: -.044em;
  }
}

.randomPosts-itemExcerpt {
  margin: 2px 0 0;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -.02em;

  @media (max-width: 767px) {
    font-size: 16px;
    letter-spacing: -.022em;
  }
}

.randomPosts-itemMeta {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  color: rgba(0,0,0,.3);
  text-rendering: auto;
  vertical-align: top;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.randomPosts-footer {
  text-align: center;
}

.btn-random {
  padding: 12px 24px;
  font-size: 14px;

  @media (max-width: 767px) {
    padding: 10px 20px;
    font-size: 12px;
  }
}
