//
// Post preview
//

.postPreview {
  padding: 25px 0 30px;
  border-bottom: 1px solid rgba(0,0,0,.1);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.postPreview-meta {
  font-family: $font-family-base;
  font-size: 12px;
  // line-height: 1.4;
  // letter-spacing: 0;
  color: rgba(0,0,0,.44);

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.postPreview-title {
  margin-top: 10px;
  // margin-bottom: 0;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  line-height: 1.12;
  letter-spacing: -.044em;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.postPreview-excerpt {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: $font-family-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -.003em;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}
