//
// Post preview
//

.post-preview {
  padding: 25px 0 30px;
  border-bottom: 1px solid var(--section-divider); // rgba(0, 0, 0, .1);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.post-preview-meta {
  // font-family: var(--font-family-sans-serif);
  font-size: 14.8px;
  // line-height: 1.4;
  // letter-spacing: 0;
  color: var(--text-muted);

  @media (min-width: 768px) {
    font-size: 15.8px;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.post-preview-title {
  margin-top: 10px;
  // margin-bottom: 0;
  // font-family: var(--font-family-sans-serif);
  // font-size: 24px;
  @include font-size(1.777rem);
  line-height: 1.12;
  letter-spacing: -0.044em;

  @media (min-width: 768px) {
    /// font-size: 26px;
    letter-spacing: -0.04em;
  }
}

*:hover,
*:focus {
  > .post-preview-title {
    text-decoration: underline var(--body-color);
  }
}

.post-preview-excerpt {
  margin-top: 10px;
  margin-bottom: 0;
  // font-family: var(--font-family-sans-serif);
  font-size: 16px;
  // font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.022em;

  @media (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.02em;
  }
}
