:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $theme-colors-default {
    --#{$color}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-serif: #{inspect($font-family-serif)};
  --font-family-serif-display: #{inspect($font-family-serif-display)};
  --font-family-monospace: #{inspect($font-family-monospace)};
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $color, $value in $theme-colors-dark {
      --#{$color}: #{$value};
    }
  }
}
