---
layout: default
permalink: "/"
---

{%- assign site_author = site.author.name | default: site.author | default: site.title | default: site.name -%}
{%- if site_author -%}
  {%- assign site_author = site_author | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- assign site_author_pronoun = site.author.pronoun | default: site.pronoun -%}
{%- if site_author -%}
  {%- assign site_author_pronoun = site_author_pronoun | downcase | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- assign site_author_bio = site.author.bio | default: site.description -%}
{%- if site_author_bio -%}
  {%- assign site_author_bio = site_author_bio | smartify | strip_html | normalize_whitespace | truncate: 160 | escape_once -%}
{%- endif -%}

{%- assign site_author_avatar = site.author.avatar | default: site.logo.path | default: site.logo -%}
{%- if site_author_avatar -%}
  {%- assign site_author_avatar = site_author_avatar | escape -%}
{%- endif -%}

{%- assign page_image = page.feature_image.path | default: page.feature_image -%}
{%- if page_image -%}
  {%- assign page_image = page_image | escape -%}
{%- endif -%}

<!-- Hero container -->
<main class="hero-container d-flex flex-column align-items-center justify-content-center" id="main" role="main">
  <!-- Hero profile -->
  <div class="card">
    <div class="row g-0">

      <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center user-select-none">
        <img class="img-fluid rounded-circle" width="120" height="120" src="{{ site_author_avatar }}" alt="{{ site_author }}" />
      </div>

      <div class="col-sm-8">
        <div class="card-body ps-sm-4 text-center text-sm-start">

          <h1 class="card-title mt-2 mt-sm-0">{{ site_author }}</h1>

          <p class="card-text mb-3">{% if site_author_pronoun %}<span class="fw-light">{{ site_author_pronoun }} &mdash; </span>{% endif %}{{ site_author_bio }}</p>

          <ul class="hero-social">
            <li>
              <a class="icon-instagram d-flex align-items-center justify-content-center" rel="me" href="https://mastodon.social/@milanaryal" aria-label="Mastodon">
                {% include icons/mastodon.svg width="1em" height="1em" class="svg" %}
                <span class="label">Mastodon</span>
              </a>
            </li><!--

            -->
            {% if site.author.x %}<li>
              <a class="icon-x d-flex align-items-center justify-content-center" rel="me" href="https://x.com/{{ site.author.x }}" aria-label="X">
                {% include icons/twitter-x.svg width="1em" height="1em" class="svg" %}
                <span class="label">X</span>
              </a>
            </li>{% endif %}<!--

            -->{% if site.author.instagram %}<li>
              <a class="icon-instagram d-flex align-items-center justify-content-center" rel="me" href="https://www.instagram.com/{{ site.author.instagram }}/" aria-label="Instagram">
                {% include icons/instagram.svg width="1em" height="1em" class="svg" %}
                <span class="label">Instagram</span>
              </a>
            </li>{% endif %}<!--

            -->{% if site.author.github %}<li>
              <a class="icon-github d-flex align-items-center justify-content-center" rel="me" href="https://github.com/{{ site.author.github }}" aria-label="GitHub">
                {% include icons/github.svg width="1em" height="1em" class="svg" %}
                <span class="label">GitHub</span>
              </a>
            </li>{% endif %}
          </ul>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.col-sm-8 -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.card -->
</main>
<!-- /.hero-container -->
