---
layout: default
permalink: "/"
---

{%- assign site_author = site.author.name | default: site.author | default: site.title | default: site.name -%}
{%- if site_author -%}
  {%- assign site_author = site_author | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

{%- assign site_author_bio = site.author.bio | default: site.description -%}
{%- if site_author_bio -%}
  {%- assign site_author_bio = site_author_bio | smartify | strip_html | normalize_whitespace | truncate: 160 | escape_once -%}
{%- endif -%}

{%- assign site_author_avatar = site.author.avatar | default: site.logo.path | default: site.logo -%}
{%- if site_author_avatar -%}
  {%- assign site_author_avatar = site_author_avatar | escape -%}
{%- endif -%}

{%- assign page_image = page.feature_image.path | default: page.feature_image -%}
{%- if page_image -%}
  {%- assign page_image = page_image | escape -%}
{%- endif -%}

<!-- Hero container -->
<main class="hero-container user-select-none is-loading" id="main" role="main">
  <!-- Hero profile -->
  <section class="hero-profile clearfix is-loading">
    <div class="hero-profile-inner">
      <header>
        <span class="hero-avatar">
          <a href="/">
            <img class="hero-avatar-img" src="{{ site_author_avatar }}" alt="{{ site_author }}" />
          </a>
        </span>
        <h1 class="hero-title d-inline-block">{{ site_author }}</h1>
        <p class="hero-description">{{ site_author_bio }}</p>
      </header>
      <hr class="mx-auto" />
      <footer>
        <ul class="hero-social">
          {% if site.author.twitter %}<li>
            <a class="icon-twitter" rel="me" href="https://twitter.com/{{ site.author.twitter }}" aria-label="Twitter">
              {% include_cached icons/twitter.svg width="1em" height="1em" class="svg" %}
              <span class="label">Twitter</span>
            </a>
          </li>{% endif %}<!--

          -->{% if site.author.instagram %}<li>
            <a class="icon-instagram" rel="me" href="https://instagram.com/{{ site.author.instagram }}" aria-label="Instagram">
              {% include_cached icons/instagram.svg width="1em" height="1em" class="svg" %}
              <span class="label">Instagram</span>
            </a>
          </li>{% endif %}<!--

          -->{% if site.author.github %}<li>
            <a class="icon-github" rel="me" href="https://github.com/{{ site.author.github }}" aria-label="GitHub">
              {% include_cached icons/github.svg width="1em" height="1em" class="svg" %}
              <span class="label">GitHub</span>
            </a>
          </li>{% endif %}
        </ul>
      </footer>
    </div>
    <!-- /.hero-profile-inner -->
  </section>
  <!-- /.hero-content -->
</main>
<!-- /.hero-container -->
