---
title: "Search"
tagline: "Search your query."
description: "Google optimise search engine to search available contents on this site."
layout: search
permalink: "/search/"
sitemap: false
robots: "noindex, follow"
---

{%- assign site_title = site.title | default: site.name -%}
{%- if site_title -%}
  {%- assign site_title = site_title | smartify | strip_html | normalize_whitespace | escape_once -%}
{%- endif -%}

<h3 class="search-page-heading user-select-none">{% include icons/search.svg width="1em" height="1em" class="icon icon-search" %}&nbsp;Search <span style="display: inline-block; padding: 0 1.7px; font-family: 'DM Serif Display', 'Lora', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 400; letter-spacing: -0.04em;">{{ site_title }}</span> Weblog</h3>

<div class="search-page-content" id="cse-search">
  <!-- Google CSE search box begins  -->
  <form class="search-page-form" id="cse_{{ site.google_cse_id }}" action="{{ 'search/' | relative_url }}" role="search">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" id="q" name="q" placeholder="Search&hellip;" aria-label="Search {{ site_title }} Weblog" tabindex="1" autocapitalize="off" autofocus autocomplete="off" spellcheck="false">
          <button type="submit" class="btn btn-outline-secondary" tabindex="2">
            {% include icons/search.svg width="1em" height="1em" class="icon icon-search" %}
          </button>
        </div><!-- /.input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  </form>

  <script>
    (function() {
      var cx = '{{ site.google_cse_id }}';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>

  <div class="search-page-results">
    <gcse:searchresults-only linktarget="_parent"></gcse:searchresults-only>
  </div>
</div><!-- ./search-box -->
