//
// Elevator - Scroll to top button
//

.elevator {
  display: inline-block;
  height: 48px;
  width: 48px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  background-image: none;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  &.elevator-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }
  .fa {
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    left: 14.5px;
    top: 12.5px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.8);
    .fa {
      color: white; // #fff
      top: 5px;
    }
  }
}
