//
// pt sans
//

// pt-sans-regular - latin
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("/assets/fonts/pt-sans-v11-latin-regular.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-sans-v11-latin-regular.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// pt-sans-700 - latin
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("/assets/fonts/pt-sans-v11-latin-700.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-sans-v11-latin-700.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// pt-sans-italic - latin
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"),
       url("/assets/fonts/pt-sans-v11-latin-italic.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-sans-v11-latin-italic.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// pt-sans-700italic - latin
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"),
       url("/assets/fonts/pt-sans-v11-latin-700italic.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-sans-v11-latin-700italic.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}


//
// pt serif
//

// pt-serif-regular - latin
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"),
       url("/assets/fonts/pt-serif-v11-latin-regular.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-serif-v11-latin-regular.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// pt-serif-700 - latin
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"),
       url("/assets/fonts/pt-serif-v11-latin-700.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-serif-v11-latin-700.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// pt-serif-italic - latin
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"),
       url("/assets/fonts/pt-serif-v11-latin-italic.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-serif-v11-latin-italic.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// pt-serif-700italic - latin
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"),
       url("/assets/fonts/pt-serif-v11-latin-700italic.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/pt-serif-v11-latin-700italic.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}
