//
// Icons
//

.icon {
  position: relative;
  top: -.125em; // fine-tune alignment
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: middle;
  fill: currentColor;
}
