// Mixins
//
// Custom mixins for the theme.

@mixin theme-anchor-transition() {
  transition: all 0.2s ease;
}

@mixin theme-background-cover() {
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

@mixin btn-social($background, $color: white) {
  color: $color;
  background-color: $background;

  &:focus,
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
  }
}
