// Mixins
//
// Custom mixins for the theme.

@mixin theme-anchor-transition() {
  transition: all 0.2s ease;
}

@mixin theme-background-cover() {
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

@mixin btn-social-share() {
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.05);

  &:focus,
  &:hover {
    color: rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.1);
  }
}
