//
// Reset
//

h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
  margin: 0;
}


//
// Global Components
//

html {
  font-size: 18px;
}

body {
  font-family: $theme-font-family-base;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 1rem; // ~18px
  line-height: 1.4;
}


//
// Typography
//

h1,
h2,
h3,
h4 {
  font-family: $theme-font-family-base;
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  @include theme-anchor-transition();

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }
}

::-moz-selection {
  background: #507ED9;
  color: white;
  text-shadow: none;
}

::selection {
  background: #507ED9;
  color: white;
  text-shadow: none;
}


//
// Navigation
//

.navbar {
  margin-bottom: 0;
  font-family: $theme-font-family-base;
  background-color: white;
  border-color: transparent;
  // border-radius: 0;

  @media (min-width: 768px) {
    height: 65px;
  }
}

.navbar-brand {
  // font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75) !important;

  @media (min-width: 768px) {
    height: 65px;
    padding: 22px 0;
    margin-left: 15px !important;
  }
}

.navbar-nav {
  li {
    a {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.1em;
      color: rgba(0, 0, 0, 0.6);

      @media (min-width: 768px) {
        padding: 24px 0 22px;
        margin-right: 40px;
      }

      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}


//
// Hero page
//

// Hero page wrapper

.hero-wrapper {
  font-size: 16px;
  background: -webkit-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); // Chrome 10+, Saf5.1+
  background:    -moz-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); // FF3.6+
  background:     -ms-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); // IE10
  background:      -o-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); // Opera 11.10+
  background:         linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); // W3C

  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  min-height: 100vh;
  padding: 1.5em;
  z-index: 2;

  > * {
    z-index: 1;
  }

  &::before {
    content: '';
    display: block;
  }

  @media (max-width: 360px) {
    padding: 0.75em;
  }
}


// Hero page container

.hero-container {
  position: relative;
  max-width: 27em;
  min-width: 26em;
  margin-top: 50px;
  padding: 3.5em 3em 3em;
  background: #ffffff;
  border-radius: 4px;
  cursor: default;
  opacity: 0.95;
  text-align: center;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;

  @media (max-width: 480px) {
    min-width: 0;
    width: 100%;
    padding: 2.5em 2em 2em;
  }

  &.is-loading {
    opacity: 0;
		-moz-transform: rotateX(15deg);
		-webkit-transform: rotateX(15deg);
		-ms-transform: rotateX(15deg);
		transform: rotateX(15deg);
  }
}

.hero-avatar {
  position: relative;
  display: block;
  margin-bottom: 1.25em;

  img {
    display: block;
    width: 121px;
    height: 121px;
    margin: 0 auto;
    border-radius: 100%;
  }
}

.hero-title {
  font-size: 2em;
  margin-bottom: .525em;
}

.hero-description {
  margin-bottom: 1.25em;
}

// Hero page icons

ul.hero-social {
  cursor: default;
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    padding: 0.675em 0.5em;
  }

  a.fa {
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
    text-transform: none !important;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      font-size: 1.85em;
      line-height: inherit;
      text-align: center;
      text-indent: 0;
      color: #fff;
      text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;

      @media (max-width: 480px) {
        font-size: 1.5em;
      }
    }

    &:hover {
      border-color: #ff7496;

      &::before {
        text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
      }
    }
  }
}


//
// Theme layout design
//

.intro-divider {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

// Middot divider

.middot-divider {
  display: inline-block;
  padding: 0 0.42em;
}

.middot-divider::after {
  content: "\00b7"; // "·"
}

// Header

.page-content,
.post-article {
  margin-top: 50px;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
}

.intro-header {
  background: no-repeat center center;
  background-color: $theme-color-gray;
  background-attachment: scroll;
  @include theme-background-cover();
  // NOTE: Background images are set within the HTML using inline CSS!
  margin-bottom: 80px;
}

.page-heading {
  padding: 75px 0;
  text-align: center;
  color: #fff;
  transform: translateZ(0);

  @media (min-width: 768px) {
    padding: 150px 0;
  }
}

.page-title {
  // margin-top: 0;
  font-family: $theme-font-family-sans-serif;
  letter-spacing: -0.02em;
  font-size: 48px;

  @media (min-width: 768px) {
    font-size: 80px;
  }
}

.page-description {
  display: block;
  font-size: 24px;
  line-height: 1.1;
  font-family: $theme-font-family-sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

.page-body {
  margin-bottom: 50px;
}

// Darker backgrounded .intro-header image to make readable text
.dark-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // Darken background (black 44% opacity)
  background: rgba(0, 0, 0, 0.44);
}

.info-footer {
  padding: 50px 0 40px;
  // margin-top: 40px;
  background-color: #fafafa;

  .list-inline {
    margin: 0;
    padding: 0;

    a {
      color: rgba(0,0,0,0.7);

      &:hover,
      &:focus {
        color: rgba(0,0,0,0.8);
        // color: $markdown-link-hover-color;
      }
    }
  }
}

.copyright {
  font-family: $theme-font-family-base;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  text-align: center;
  margin-top: $markdown-margin;
  margin-bottom: 0;

  text-rendering: auto;
  transform: translateZ(0);

  a {
    // text-decoration: underline;
    // color: inherit; // parent color for link
    &:hover,
    &:focus {
      text-decoration: underline;
    //  color: $markdown-link-hover-color;
    }
  }
}

.btn {
  text-decoration: none !important;
  background-image: none !important;
  font-family: $theme-font-family-base;
  // text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  // letter-spacing: -.02em;
  letter-spacing: 0;
  border-radius: 999em;
  padding: 15px 25px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  background-color: transparent;
  color: rgba(0,0,0,0.44);
  border-color: rgba(0,0,0,0.15);

  &:hover {
    background-color: transparent;
    color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.3);
  }

  &:focus,
  &:active, &:active:hover, &:active:focus {
    outline: 0;
    background-color: transparent;
    color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0.6);
  }
}

.pager {
  margin: 20px 0 40px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;

  li {
    > a,
    > span {
      font-family: $theme-font-family-base;
      // text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      // letter-spacing: -.02em;
      letter-spacing: 0;
      padding: 12.5px 20px;
      color: rgba(0,0,0,0.44);
      background-color: rgba(0,0,0,0);
      border: 1px solid rgba(0,0,0,0.15);
      border-radius: 999em;

      @media (min-width: 768px) {
        font-size: 14px;
        padding: 15px 25px;
      }
    }

    > a:hover {
      background-color: rgba(0,0,0,0);
      color: rgba(0,0,0,0.6);
      border-color: rgba(0,0,0,0.3);
    }

    > a:focus,
    > a:active {
      outline: 0;
      background-color: rgba(0,0,0,0);
      color: rgba(0,0,0,0.8);
      border-color: rgba(0,0,0,0.6);
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      pointer-events: none;
      opacity: 0.25;
      cursor: default;
    }
  }

  .fa-angle-left {
    padding-right: 3px;
  }

  .fa-angle-right {
    padding-left: 3px;
  }
}


//
// Post preview
//

.post-preview {
  transform: translateZ(0);
  padding: 25px 0 30px;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.post-preview-meta {
  font-family: $theme-font-family-base;
  color: rgba(0,0,0,0.44);
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.post-preview-title {
  margin-top: 10px;
  // margin-bottom: 0;
  font-family: $theme-font-family-sans-serif;
  letter-spacing: -0.02em;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.post-preview-excerpt {
  font-family: $theme-font-family-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: 0.005rem;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}


//
// Post page
//

.post-header {
  padding-top: 25px;

  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.post-meta {
  display: block;
  font-family: $theme-font-family-base;
  margin: 0 0 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: rgba(0,0,0,0.44);

  @media (min-width: 768px) {
    padding-bottom: 15px;
    font-size: 14px;
  }
}

.post-title {
  // margin: 0;
  font-family: $theme-font-family-sans-serif;
  letter-spacing: -0.016em;
  font-size: 32px;
  line-height: 1.04;

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.post-body {
  margin-top: 30px;
}

.post-footer {
  padding-top: 20px;
}

.post-meta-inline-acknowledgments {
  padding-bottom: 20px;
  line-height: 1.2;
}

.post-meta-acknowledgment {
  font-size: 13px;
  color: rgba(0,0,0,0.44);

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Social share

.social-share {
  padding-bottom: 20px;
  font-size: 13px;
  color: rgba(0,0,0,0.44);
}

.btn-social-share {
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  @include btn-social-share();

  .fa {
    margin-right: 0.6em;
  }

  @media (max-width: 479px) {
    padding: 5px 0;
    width: 35px;

    .fa {
      margin-right: 0;
    }

    .social-label {
      display: none !important;
    }
  }
}

// Post author card

.post-footer-info-divider {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.author-card {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: rgba(0,0,0,0.6);
  text-align: left;
  font-family: $theme-font-family-base;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.author-card-image-wrapper {
  display: table-cell;
}

.author-card-avatar-link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.author-card-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 100%;
  background: #f0f0f0;
}

.author-card-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  min-height: 80px;
  word-break: break-word;
  word-wrap: break-word;
}

.author-card-name {
  padding-right: 20px;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  line-height: 1.1;
  margin-bottom: 4px;
}

.author-card-description {
  padding-right: 20px;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 4px;
}

// Disqus commenting system

.comments {
  margin: 50px 0;
  padding-top: 30px;
  border-top: 1px solid rgba(0,0,0,0.1);

  a {
    color: #3f4549;

    &:hover,
    &:focus {
      color: darken(#3f4549, 6.5%);
    }
  }
}

.btn-disqus {
  display: block;
  padding: 13px;
  width: 100%;
  font-size: 13px;
  border-radius: 4px;

  .fa {
    margin-right: 0.6em;
  }
}

// Post pager

.post-pager {
  margin-top: 0;
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

// Random posts

.random-posts {
  padding-bottom: 40px;
  background-color: #fafafa;
}

.random-posts-heading {
  text-transform: uppercase;
  font-size: 11px;
  // font-weight: 400;
  letter-spacing: .1em;
  // color: rgba(0,0,0,0.44);
  border-bottom: solid 1px rgba(0,0,0,0.15);
  margin: 0;
  padding-top: 50px;
  padding-bottom: 15px;

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.random-post {
  position: relative;
  padding: 25px 0 32px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  line-height: 1.1;

  @media (max-width: 767px) {
    padding: 24px 0 17px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.random-post-title {
  // margin: 0;
  font-family: $theme-font-family-sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.3;
  font-size: 26px;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.random-post-excerpt {
  margin: 2px 0 0;
  line-height: 1.4;
  font-family: $theme-font-family-sans-serif;
  font-size: 18px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.random-post-meta {
  margin-top: 10px;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.6;
  text-rendering: auto;
  color: rgba(0,0,0,0.3);

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.btn-random {
  font-size: 14px;
  padding: 12px 24px;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 10px 20px;
  }
}


//
// Archive page content
//

.archive {
  margin-bottom: 50px;
  transform: translateZ(0);
  color: rgba(0,0,0,0.8);

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  h3 {
    margin: 40px 0 15px;
    font-family: $theme-font-family-sans-serif;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 700;
    font-size: ($markdown-font-size-h3 - 4); // ~32px

    @media (min-width: 768px) {
      font-size: $markdown-font-size-h3; // ~36px
    }
  }

  ul {
    list-style: none;
    margin: 15px 0;
    padding: 0;

   &> :first-child {
      padding-right: 15px;
    }
  }

  li {
    // remove column margin or padding
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li a {
    text-decoration: none;
    border-bottom: 1px solid #ddd;

    &:hover,
    &:focus {
      color: rgba(0,0,0,0.8);
      text-decoration: none;
      border-bottom: 1px solid rgba(0,0,0,0.8);
    }
  }
}


//
// 404 error page content
//

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.error-page-container {
  padding: 2em;
  animation: fade-in 2s;
  transform: translateZ(0);
}

.error-page-message {
  color: rgba(0,0,0,0.8);
  font-family: $theme-font-family-base;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.error-page-message-lead {
  margin-bottom: 10px;
  font-size: 32px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.error-page-message-small {
  margin-top: 10px;
  color: rgba(0,0,0,0.44);
  // font-family: $theme-font-family-base;
  font-weight: 400;
  // font-style: normal;
  font-size: 16px;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  a {
    color: rgba(0,0,0,0.44);
    text-decoration: underline;

    &:hover,
    &:active {
      color: rgba(0,0,0,0.6);
      text-decoration: underline;
    }
  }
}
