// Variables
//
// Custom varibles for the theme.


// Theme
//
// Theme content Font, line-height, and color for body text, headings, and more.

$theme-brand-color:             #2196f3;
$theme-color-white:             white; // #fff
$theme-color-black:             black; // #000
$theme-color-gray:              gray; // #808080

$theme-brand-primary:           darken($theme-brand-color, 6.5%); // #0c86e6

$theme-font-family-sans-serif:   "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$theme-font-family-serif:        "Lora", Georgia, "Times New Roman", Times, serif !default;
$theme-font-family-monospace:    Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif !default;
$theme-font-family-base:         -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Oxygen", "Cantarell", "Helvetica Neue", Arial, "Liberation Sans", sans-serif !default;


// Social buttons
//
// Colors, backgrounds, and more.

$social-disqus-color:            #2e9fff;
$social-envelope-color:          #787878;
$social-facebook-color:          #3b5998;
$social-flickr-color:            #ff0084;
$social-foursquare-color:        #0cbadf;
$social-google-plus-color:       #dd4b39;
$social-instagram-color:         #4e433c;
$social-linkedin-color:          #4875b4;
$social-pinterest-color:         #cb2027;
$social-rss-color:               #fa9b39;
$social-tumblr-color:            #2c4762;
$social-twitter-color:           #55acee;
$social-vimeo-color:             #1ab7ea;
$social-youtube-color:           #ff3333;
$social-github-color:            #333333;


// Markdown
//
// Markdown content Font, line-height, and color for body text, headings, and more.

$markdown-brand-color:          darken($theme-brand-color, 6.5%); // #0c86e6
$markdown-link-color:           $markdown-brand-color;
$markdown-link-hover-color:     darken($markdown-link-color, 15%); // #095c9e

$markdown-body-color:           rgba($theme-color-black, 0.95); // rgba(0, 0, 0, 0.95)
$markdown-color-h1:             rgba($theme-color-black, 0.8); // rgba(0, 0, 0, 0.8)
$markdown-color-h2:             rgba($theme-color-black, 0.8); // rgba(0, 0, 0, 0.8)
$markdown-color-h3:             rgba($theme-color-black, 0.8); // rgba(0, 0, 0, 0.8)
$markdown-color-h4:             rgba($theme-color-black, 0.44); // rgba(0, 0, 0, 0.44)
$markdown-color-hr:             rgba($theme-color-black, 0.15); // rgba(0, 0, 0, 0.15)
$markdown-color-pre:            rgba($theme-color-black, 0.05); // rgba(0, 0, 0, 0.05)
$markdown-text-muted:           rgba($theme-color-black, 0.44); // rgba(0, 0, 0, 0.44)

$markdown-body-font-size:       22px;
$markdown-lead-font-size:       32px;
$markdown-font-size-h1:         60px; // 36 + 24 = 60
$markdown-font-size-h2:         40px; // 36 + 4 = 40

$markdown-font-size-h3:         32px; // 28 + 4 = 32
$markdown-font-size-h4:         28px; // 24 + 4 = 28

// $markdown-font-size-h3:         36px; // 32 + 4 = 36
// $markdown-font-size-h4:         32px; // 28 + 4 = 32

$markdown-font-size-h5:         28px; // ~28
$markdown-font-size-h6:         28px;
$markdown-font-size-pre:        16px;

$markdown-margin:               30px; // All of our block level items should have the same margin
