// Variables
//
// Custom variables for the theme.

$brand-color:               #2196f3;


// Bootstrap
//
// Override custom settings.

$brand-primary:             darken($brand-color, 6.5%); // #0c86e6
$text-color:                rgba(0,0,0,.8);

$font-family-sans-serif:    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:         "Lora", Georgia, "Times New Roman", Times, serif;
$font-family-base:          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$link-color:                inherit;
$link-hover-color:          inherit;
$link-hover-decoration:     none;

$blockquote-border-color:   $text-color;
$hr-border:                 rgba(0,0,0,.05);

//$theme-colors: (
//  dark: #34495e
//);


// Brand colors (http://brand-colors.com, http://brandcolors.net)
//
// Official color codes for the world's biggest brands.

$disqus-color:              #2e9fff;
$envelope-color:            #787878;
$facebook-color:            #3b5998;
$flickr-color:              #ff0084;
$foursquare-color:          #f94877; // has multi colors
$google-plus-color:         #dc4e41;
$instagram-color:           #833ab4; // has multi colors
$linkedin-color:            #0077b5; // has multi colors
$pinterest-color:           #bd081c;
$rss-color:                 #f26522;
$tumblr-color:              #35465c;
$twitter-color:             #55acee;
$vimeo-color:               #1ab7ea; // has multi colors
$youtube-color:             #cd201f;
$github-color:              #333;    // has multi colors


// NProgress
//
// Loading bar custom settings.

$nprogress-color:           #77b6ff; // last update #29d
$nprogress-height:          2px;
$nprogress-zindex:          1031;
