---
layout: archive
title: "Writings"
excerpt: "A collection of writings about front-end web development to help build a better web."
image: "/assets/img/writings.jpg"

# if paginator.page > 1
robots: "noindex, follow"
---

<section class="clearfix">
{% for post in paginator.posts %}

  {% assign site_title = site.title | default: site.name %}
  {% if site_title %}
    {% assign site_title = site_title | smartify | strip_html | strip_newlines | escape_once %}
  {% endif %}

  {% if site.logo %}
    {% assign site_logo = site.logo.path | default: site.logo %}
    {% assign site_logo = site_logo | escape %}
  {% endif %}

  {% if post.image %}
    {% assign post_image = post.image.path | default: post.image %}
    {% assign post_image = post_image | escape %}
  {% endif %}

  {% if post.author %}
    {% assign post_author = post.author.name | default: post.author %}
  {% else %}
    {% assign post_author = site.author.name | default: site.author %}
  {% endif %}
  {% if post_author %}
    {% assign post_author = post_author | smartify | strip_html | strip_newlines | escape_once %}
  {% endif %}

  {% assign reading_time = post.content | strip_html | number_of_words | plus:91 | divided_by:180 %}
  {% if reading_time <= 1 %}
    {% assign reading_time = '1' | append:' min read' %}
  {% else %}
    {% assign reading_time = reading_time | append:' min read' %}
  {% endif %}

  <article class="postPreview clearfix" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage" itemid="{{ post.url | replace:'/index.html','/' }}">
    <span hidden="true" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      {% if post.image %}
        <link itemprop="url" href="{{ post_image }}">
        {% if post.image.width %}
          <meta itemprop="width" content="{{ post.image.width }}">
        {% endif %}
        {% if post.image.height %}
          <meta itemprop="height" content="{{ post.image.height }}">
        {% endif %}
      {% else %}
        <link itemprop="url" href="{{ site_logo }}">
        {% if site.logo.width %}
          <meta itemprop="width" content="{{ site.logo.width }}">
        {% endif %}
        {% if site.logo.height %}
          <meta itemprop="height" content="{{ site.logo.height }}">
        {% endif %}
      {% endif %}
    </span>
    <span hidden="true" itemprop="author" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ post_author }}">
    </span>
    <span hidden="true" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <link itemprop="url" href="{{ site_logo }}">
        {% if site.logo.width %}
          <meta itemprop="width" content="{{ site.logo.width }}">
        {% endif %}
        {% if site.logo.height %}
          <meta itemprop="height" content="{{ site.logo.height }}">
        {% endif %}
      </span>
      <meta itemprop="name" content="{{ site_title }}">
    </span>
    <meta itemprop="dateModified" content="{% if post.last_modified_at %}{{ post.last_modified_at | date_to_xmlschema }}{% else %}{{ post.date | date_to_xmlschema }}{% endif %}">

    <div class="postPreview-meta">
      <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}"{% if post.last_modified_at %} data-toggle="tooltip" data-placement="top" title="Updated {{ post.last_modified_at | date: '%b %-d, %Y' }}"{% endif %}>{{ post.date | date: '%b %-d, %Y' }}</time><span class="middotDivider"></span><span data-toggle="tooltip" data-placement="top" title="{{ post.content | strip_html | number_of_words | append:' words'}}">{{ reading_time }}</span>
    </div>
    <a itemprop="url" href="{{ post.url | replace:'/index.html','/' }}">
      <div class="clearfix">
        <h2 class="postPreview-title" itemprop="headline">{{ post.title | smartify | strip_html | strip_newlines | escape_once }}</h2>
        {% if post.excerpt and post.excerpt != empty %}
          <p class="postPreview-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once }}</p>
        {% endif %}
      </div>
    </a>
  </article>
{% endfor %}
</section>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<nav class="clearfix" itemscope itemtype="https://schema.org/SiteNavigationElement">
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a itemprop="url" href="{{ paginator.previous_page_path | replace:'//','/' | replace:'/index.html','/' }}"><span class="svg-icon icon-angle-left svg-baseline" aria-hidden="true"><svg><use xlink:href="/assets/icons/icons.min.svg#icon-angle-left"></use></svg></span><span itemprop="name">Previous</span></a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a itemprop="url" href="{{ paginator.next_page_path | replace:'//','/' | replace:'/index.html','/' }}"><span itemprop="name">Next</span><span class="svg-icon icon-angle-right svg-baseline" aria-hidden="true"><svg><use xlink:href="/assets/icons/icons.min.svg#icon-angle-right"></use></svg></span></a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
