---
layout: archive
title: "Writings"
excerpt: "A collection of writings about web design and front-end development to help build a better web."
---

<section class="clearfix">
  {% for post in paginator.posts %}
  <article class="post-preview clearfix" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage" itemid="{{ post.url | replace:'index.html','' | prepend: site.url }}">
    <span class="hidden" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <link itemprop="url" href="{{ site.icon.base_url | prepend: site.url }}">
      <meta itemprop="width" content="{{ site.icon.width }}">
      <meta itemprop="height" content="{{ site.icon.height }}">
    </span>
    <span class="hidden" itemprop="author" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{% if post.author.name %}{{ post.author.name }}{% elsif post.author %}{{ post.author }}{% elsif site.author.name %}{{ site.author.name }}{% elsif site.author %}{{ site.author }}{% endif %}">
    </span>
    <span class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <link itemprop="url" href="{{ site.icon.base_url | prepend: site.url }}">
      </span>
      <meta itemprop="name" content="{{ site.name }}">
    </span>
    <meta itemprop="dateModified" content="{% if post.last_modified_at %}{{ post.last_modified_at | date_to_xmlschema }}{% else %}{{ post.date | date_to_xmlschema }}{% endif %}">
    <div class="post-preview-meta">
      <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}"{% if post.last_modified_at %} data-toggle="tooltip" data-placement="top" title="Updated {{ post.last_modified_at | date: '%b %-d, %Y' }}"{% endif %}>{{ post.date | date: '%b %-d, %Y' }}</time><span class="middot-divider"></span><span data-toggle="tooltip" data-placement="top" title="{{ post.content | strip_html | number_of_words | append:' words'}}">{% capture reading_time %}{{ post.content | strip_html | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}{% if reading_time <= '1' %}{{ 1 | append:' min read' }}{% else %}{{ reading_time | append:' min read' }}{% endif %}</span>
    </div>
    <a itemprop="url" href="{{ post.url }}">
      <div class="clearfix">
        <h2 class="post-preview-title" itemprop="headline">{{ post.title | markdownify | strip_html | strip_newlines | escape_once }}</h2>
        {% if post.excerpt and post.excerpt != empty %}
          <p class="post-preview-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once }}</p>
        {% endif %}
      </div>
    </a>
  </article>
  {% endfor %}
</section>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<nav class="clearfix" itemscope itemtype="https://schema.org/SiteNavigationElement">
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a itemprop="url" href="{{ paginator.previous_page_path | replace:'//','/' | replace:'index.html','' }}"><i class="fa fa-angle-left"></i> <span itemprop="name">Newer</span></a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a itemprop="url" href="{{ paginator.next_page_path | replace:'//','/' | replace:'index.html','' }}"><span itemprop="name">Older</span> <i class="fa fa-angle-right"></i></a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
